/*
* LEGEND - Iconic Coming Soon Template
* Build Date: January 2016
* Last Update: 16th November 2017
* Author: Madeon08
* Copyright (C) 2018 Madeon08
* This is a premium product available exclusively here : http://themeforest.net/user/Madeon08/portfolio
*/
/*  TABLE OF CONTENTS
    ---------------------------
    *. @Import & Reset
    1. Generic styles
    2. Home
    3. More Informations
    4. Newsletter
    5. Contact
    6. Social Icons
    7. Footer/Copyright
    8. Media Queries
*/
/* ------------------------------------- */
/* *. @Import & Reset .................. */
/* ------------------------------------- */

/* custom CSS files */
@import url(font-awesome.min.css);
@import url(ionicons.min.css);
@import url(bootstrap.min.css);
@import url(animate.css);
@import url(photoswipe.css);
@import url(default-skin/default-skin.css);
@import url(jquery.mCustomScrollbar.css);
@import url(vegas.css);
/* Google Fonts */
@import url("http://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,300,600,700|Raleway:400,200,600|Pacifico");
/*
* http://meyerweb.com/eric/tools/css/reset/ 
* v2.0 | 20110126
* License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------------------------------------- */
/* Preloader styles .................... */
/* ------------------------------------- */
#loading {
  width: 100vw;
  height: 100vh;
  background: #20232D;
  position: fixed;
  z-index: 999;
}

#loading #preloader {
  position: relative;
  width: 100%;
  height: 80px;
  top: calc(50% - 50px);
  text-align: center;
  margin: 0 auto;
}

#loading #preloader:after {
  content: "Legend is loading";
  /* Text under the circles */
  position: absolute;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  color: #4d515f;
  letter-spacing: 1px;
  font-family: Montserrat, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  top: 90px;
  width: 100%;
  left: 0;
  right: 0;
  height: 1px;
  text-align: center;
}

#loading #preloader span {
  position: absolute;
  border: 4px solid #0fe0ba;
  border-radius: 100%;
}

#loading #preloader span:nth-child(1) {
  width: 80px;
  height: 80px;
  left: calc(50% - 40px);
  -webkit-animation: spin-1 1s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
          animation: spin-1 1s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
}

#loading #preloader span:nth-child(2) {
  top: 20px;
  left: calc(50% - 20px);
  width: 40px;
  height: 40px;
  -webkit-animation: spin-2 1s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
          animation: spin-2 1s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
}

@-webkit-keyframes spin-1 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@keyframes spin-1 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes spin-2 {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

@keyframes spin-2 {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

/* ------------------------------------- */
/* 1. Generic styles ................... */
/* ------------------------------------- */
body {
  background: #20232D;
  font-family: "Open Sans", "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 100%;
  line-height: 1.5em;
  position: absolute;
  height: 100%;
  margin-top: 10vh;
}

.scroll-touch {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

body, html {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
}

body, input, select, textarea {
  -webkit-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
}

a {
  -webkit-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  cursor: pointer;
  text-decoration: none;
  color: #FFFFFF;
}

a:hover {
  color: #0dc8a6;
  text-decoration: none !important;
  outline: none !important;
}

a:active, a:focus {
  outline: none !important;
  text-decoration: none !important;
  color: #FFFFFF;
}

button {
  -webkit-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  cursor: pointer;
}

button:hover, button:active, button:focus {
  outline: none !important;
  text-decoration: none !important;
  color: #2B2D35;
}

strong, b {
  font-weight: 700;
}

em, i {
  font-style: italic;
}

p {
  margin: 0;
  font-size: 1em;
  line-height: 1.6em;
  color: #FFFFFF;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  color: #FFFFFF;
  font-weight: 400;
  line-height: 1.3em;
  font-family: Raleway, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
  text-decoration: none;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  color: inherit;
}

h1 {
  font-size: 60px;
  font-weight: 400;
}

h2 {
  font-size: 22px;
  margin-top: 15px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-bottom: 25px;
}

h4 {
  font-size: 25px;
  margin-bottom: 25px;
}

h5 {
  font-size: 20px;
  margin-bottom: 25px;
}

h6 {
  font-size: 15px;
  margin-bottom: 25px;
}

sub {
  font-size: 0.8em;
  position: relative;
  top: 0.5em;
}

sup {
  font-size: 0.8em;
  position: relative;
  top: -0.5em;
}

.clear {
  clear: both;
}

.display-none {
  display: none !important;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.opacity-0 {
  opacity: 0 !important;
  visibility: hidden !important;
}

.opacity-03 {
  opacity: 0.3 !important;
}

.opacity-1 {
  opacity: 1 !important;
  visibility: visible !important;
}

.index-999 {
  z-index: -999 !important;
}

.tooltip.top .tooltip-arrow {
  border-top-color: #2B2D35;
}

.tooltip.right .tooltip-arrow {
  border-right-color: #2B2D35;
}

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #2B2D35;
}

.tooltip.left .tooltip-arrow {
  border-left-color: #2B2D35;
}

.tooltip .tooltip-inner {
  background: #2B2D35;
  color: #0fe0ba;
  font-family: Montserrat, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  font-weight: 400;
}

::-moz-selection {
  color: #FFFFFF;
  background-color: #0fe0ba;
}

::selection {
  color: #FFFFFF;
  background-color: #0fe0ba;
}

/* ------------------------------------- */
/* 2. Home ............................. */
/* ------------------------------------- */
.light-btn {
  background: transparent;
  font-weight: 600;
  padding: 0.7em 2em;
  color: #FFFFFF;
  display: inline-block;
  margin-right: 10px;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.light-btn:hover {
  background: transparent;
  color: #FFFFFF;
  border-color: #FFFFFF;
}

.action-btn {
  background: #0fe0ba;
  font-weight: 600;
  padding: 0.7em 2em;
  color: #FFFFFF;
  display: inline-block;
  border: 1px solid #0fe0ba;
}

.action-btn:hover {
  background: #FFFFFF;
  color: #2B2D35;
  border-color: #FFFFFF;
}

.global-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow: visible;
  width: 100%;
  z-index: 0;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.global-overlay.hide-overlay {
  opacity: 0.4 !important;
}

.global-overlay .overlay {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh !important;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 3s cubic-bezier(0.215, 0.61, 0.355, 1);
  border-right: 1px solid #15171e;
}

.global-overlay .overlay.skew-part {
  -webkit-transform: skew(-25deg, 0deg);
          transform: skew(-25deg, 0deg);
}

.global-overlay .overlay .overlay-dash {
  background: url(../img/overlay.svg);
  background-size: cover;
  background-position: center center;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh !important;
}

.brand-logo {
  position: relative;
  max-width: 150px;
  margin: auto;
  margin-bottom: 15px;
}

.polyfy-title {
  padding: 0 15px 0 0;
  margin-left: -10px;
  color: #FFFFFF;
  text-transform: none;
  font-family: Pacifico, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
}

.text-countdown {
  font-family: Montserrat, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  font-size: 40px;
}

.text-countdown #getting-started {
  display: inline-block;
}

.text-countdown #getting-started .second-timer {
  min-width: 70px;
  text-align: left !important;
  display: inline-block;
}

#home-wrap {
  position: fixed;
  background: transparent;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  z-index: 0;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#home-wrap:before {
  content: " ";
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100%;
  background: rgba(32, 35, 45, 0.8);
  z-index: 0;
  outline: none;
}

#home-wrap.hide-left {
  width: calc(50% - 50px) !important;
}

#home-wrap .content {
  position: absolute;
  z-index: 0;
  left: 0;
  padding: 0;
  top: 50vh;
  width: 100%;
  padding: 0 5%;
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 1;
  visibility: visible;
}

#home-wrap .content p {
  font-weight: 400;
  line-height: 1.4em;
  font-family: Raleway, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  font-size: 22px;
  margin-top: 15px;
  margin-bottom: 30px;
}

/* ------------------------------------- */
/* 3. More informations ................ */
/* ------------------------------------- */
#info-wrap {
  background: #FFFFFF;
  overflow: auto;
  color: #000000;
  margin: 0;
  z-index: 15;
  position: relative;
  width: 50%;
  min-height: 100vh;
  left: 100vw;
  opacity: 0;
  top: 0;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#info-wrap h1, #info-wrap h2, #info-wrap h3, #info-wrap h4, #info-wrap h5, #info-wrap h6 {
  color: #000000;
  font-size: 50px;
}

#info-wrap p {
  color: #747c83;
}

#info-wrap.show-info {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  opacity: 1;
}

#info-wrap .center-text {
  vertical-align: middle;
  display: table-cell;
  text-align: center;
}

#info-wrap .content {
  width: 100%;
  padding: 8% 10% 0;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 1;
  visibility: visible;
}

#info-wrap .content h1, #info-wrap .content h2, #info-wrap .content h3, #info-wrap .content h4, #info-wrap .content h5, #info-wrap .content h6 {
  color: #757A86;
}

#info-wrap .content h3 {
  font-family: Montserrat, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

#info-wrap .content span.separator {
  display: block;
  height: 2px;
  background: #FFFFFF;
  width: 100%;
  margin: 50px 0 60px;
}

#info-wrap .content p {
  color: #747c83;
}

#info-wrap h1, #info-wrap h2, #info-wrap h3, #info-wrap h4, #info-wrap h5, #info-wrap h6 {
  font-weight: 600;
}

#info-wrap h1.darky, #info-wrap h2.darky, #info-wrap h3.darky, #info-wrap h4.darky, #info-wrap h5.darky, #info-wrap h6.darky {
  color: #555555;
  text-transform: uppercase;
  font-weight: 600;
  font-family: Montserrat, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
}

#info-wrap h1.lighty, #info-wrap h2.lighty, #info-wrap h3.lighty, #info-wrap h4.lighty, #info-wrap h5.lighty, #info-wrap h6.lighty {
  color: #F7F7F7;
  text-transform: uppercase;
  font-weight: 600;
  font-family: Montserrat, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
}

#info-wrap p {
  color: #747c83;
}

#info-wrap .hero {
  position: relative;
  background-color: #FFFFFF;
  height: 25vh;
  display: table;
  width: 100% !important;
  padding: 8% 10%;
  text-align: center;
}

#info-wrap .dark-hero {
  position: relative;
  background-color: #20232D;
  height: 25vh;
  display: table;
  width: 100% !important;
  padding: 8% 10%;
  text-align: center;
}

#info-wrap .dark-hero:after {
  z-index: 5;
  position: absolute;
  top: 98.1%;
  left: 50%;
  margin-left: -50px;
  content: '';
  width: 0;
  height: 0;
  border-top: solid 50px #20232D;
  border-left: solid 50px transparent;
  border-right: solid 50px transparent;
}

#info-wrap .content {
  padding: 0;
}

#info-wrap .content-form {
  padding: 8% 10%;
  background: #f2f3f7;
}

#info-wrap .no-padding-bottom {
  padding-bottom: 0;
}

#info-wrap .center-text {
  vertical-align: middle;
  display: table-cell;
}

#info-wrap .photo-line figure {
  padding: 0;
  margin: 0;
  width: 50%;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  background: #000000;
}

#info-wrap .photo-line figure.clear-second {
  clear: both;
}

#info-wrap .photo-line figure a.box-picture {
  overflow: hidden;
  width: 100%;
  display: block;
  position: relative;
  background: #20232D;
}

#info-wrap .photo-line figure a.box-picture img {
  opacity: 0.6;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#info-wrap .photo-line figure a.box-picture .text-center {
  bottom: 50%;
  line-height: 1;
  height: auto;
  width: 100%;
  text-align: center;
  left: 0;
  opacity: 1;
  position: absolute;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
}

#info-wrap .photo-line figure a.box-picture .text-center h4 {
  color: #FFFFFF;
  font-family: Raleway, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 2px;
}

#info-wrap .photo-line figure a.box-picture .text-center p {
  color: #F7F7F7;
  font-weight: 600;
  font-size: 0.8em;
}

#info-wrap .photo-line figure a.box-picture:hover {
  background: #20232D;
}

#info-wrap .photo-line figure a.box-picture:hover img {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

#info-wrap .photo-line figure a.box-picture:hover p {
  opacity: 1;
}

#info-wrap .photo-line figure img {
  overflow: hidden;
  -webkit-transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

#info-wrap .photo-line figure figcaption {
  display: none;
}

#info-wrap .photo-line figure .photo-details {
  background: #FFFFFF;
  padding: 1em;
  text-align: left;
  color: #747c83;
}

#info-wrap .photo-line figure .photo-details h4 {
  font-weight: 800;
  margin-bottom: 1em;
  text-transform: uppercase;
  font-size: 0.8em;
  opacity: 1;
  color: #747c83;
}

#info-wrap .photo-line figure .photo-details span.border {
  display: block;
  height: 2px;
  background: #0fe0ba;
  width: 10%;
  margin: 0.8em 0 1em;
}

#info-wrap .photo-line figure .photo-details p {
  font-size: 0.9em;
  color: #999999;
  font-weight: 500;
  line-height: 1.2;
}

.command-info-wrap {
  position: fixed;
  top: 0;
  left: 100vw;
  opacity: 0;
  z-index: 5;
  color: #FFFFFF;
  padding: 0;
  background: #2B2D35;
  width: 50%;
  height: 100vh;
  border: none;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.command-info-wrap.show-command {
  -webkit-transform: translate3d(calc(-100% - 50px), 0, 0);
  transform: translate3d(calc(-100% - 50px), 0, 0);
  opacity: 1 !important;
}

.command-info-wrap button.to-close {
  background: #2B2D35;
  font-size: 1.5em;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 50px;
  height: 100%;
  line-height: 100%;
  text-align: center;
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
}

.command-info-wrap button.to-close i {
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
}

.command-info-wrap button.to-close:hover {
  background: #22232a;
  color: #FFFFFF;
}

.command-info-wrap button.to-close:hover i {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.command-info-wrap .to-scroll {
  background: transparent;
  font-size: 1.5em;
  border: none;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
  width: 50px;
  height: 50px;
  line-height: 40px;
  text-align: center;
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
}

.command-info-wrap .to-scroll:hover {
  color: #FFFFFF;
}

.command-info-wrap .to-scroll.hide-scroll {
  bottom: -50px !important;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.scroll-down {
  display: inline-block;
  content: "";
  -webkit-animation: scroll 1.3s ease-out infinite forwards;
  animation: scroll 1.3s ease-out infinite forwards;
}

.widget-angle-top-right {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border: none;
  padding: 0;
  color: #0fe0ba;
  font-size: 1em;
  border-top: 50px solid #2B2D35;
  border-left: 50px solid transparent;
}

.widget-angle-top-right span.icon-text {
  font-family: Montserrat, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  font-weight: 700;
  position: absolute;
  top: -47px;
  left: -22px;
}

.widget-angle-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  background: transparent;
  border: none;
  padding: 0;
  color: #0fe0ba;
  font-size: 1em;
  border-bottom: 50px solid #2B2D35;
  border-left: 50px solid transparent;
}

.widget-angle-bottom-right span.icon-text {
  font-family: Montserrat, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  font-weight: 700;
  position: absolute;
  top: 23px;
  left: -22px;
}

.widget-angle-bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
  background: transparent;
  border: none;
  padding: 0;
  color: #0fe0ba;
  font-size: 1em;
  border-bottom: 50px solid #2B2D35;
  border-right: 50px solid transparent;
}

.widget-angle-bottom-left span.icon-text {
  font-family: Montserrat, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  font-weight: 700;
  position: absolute;
  top: 23px;
  left: 7px;
}

.widget-angle-top-left {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  border: none;
  padding: 0;
  color: #0fe0ba;
  font-size: 1em;
  border-top: 50px solid #2B2D35;
  border-right: 50px solid transparent;
}

.widget-angle-top-left span.icon-text {
  font-family: Montserrat, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  font-weight: 700;
  position: absolute;
  top: -47px;
  left: 7px;
}

.mCSB_scrollTools {
  /* Scrollbar */
  position: absolute;
  width: 5px;
  height: auto;
  left: auto;
  top: 0;
  right: -5px;
  bottom: 0;
  z-index: 25;
  -webkit-transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
}

.mCSB_scrollTools .mCSB_draggerRail {
  width: 5px;
  height: 100%;
  margin: 0;
  border-radius: 0;
  background-color: #757a86;
  filter: "alpha(opacity=40)";
  -ms-filter: "alpha(opacity=40)";
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  /* the dragger element */
  position: relative;
  width: 5px;
  height: 100%;
  margin: 0 auto;
  border-radius: 0;
  text-align: center;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #0fe0ba;
}

.mCSB_scrollTools-left {
  right: 0 !important;
}

/* ------------------------------------- */
/* 4. Newsletter ....................... */
/* ------------------------------------- */
.dialog,
.dialog__overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.dialog {
  position: fixed;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
}

.dialog__overlay {
  position: absolute;
  z-index: 1;
  background: rgba(31, 34, 46, 0.9);
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.dialog--open .dialog__overlay {
  opacity: 1;
  pointer-events: auto;
}

.dialog__content {
  width: 50%;
  max-width: 500px;
  min-width: 290px;
  background: transparent;
  padding: 0;
  text-align: center;
  position: relative;
  z-index: 5;
  opacity: 0;
  overflow: hidden;
  background: url(../img/background-newsletter.jpg) center;
  background-size: cover;
  border: 10px solid #2B2D35;
  -webkit-transition: all 3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.dialog__content::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border: 1px solid #0fe0ba;
  background: rgba(32, 35, 45, 0.8);
}

.dialog--open .dialog__content {
  pointer-events: auto;
}

.dialog .close-newsletter {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background: transparent;
  width: 40px;
  height: 40px;
  line-height: 35px;
  color: #FFFFFF;
  font-size: 20px;
  opacity: 0.5;
}

.dialog .close-newsletter:hover {
  opacity: 1;
}

.dialog .dialog-inner {
  padding: 90px 70px;
  overflow: hidden;
}

.dialog .dialog-inner::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.dialog .dialog-inner h4 {
  color: #FFFFFF;
  font-size: 40px;
  font-family: Montserrat, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  font-weight: 700;
}

.dialog .dialog-inner p {
  color: #f2f3f7;
  font-size: 16px;
}

#subscribe p {
  font-weight: 400;
}

#subscribe #notifyMe {
  max-width: 450px;
  margin: auto;
  margin-top: 2em;
}

#subscribe #notifyMe ::-webkit-input-placeholder {
  color: #747c83 !important;
}

#subscribe #notifyMe :-ms-input-placeholder {
  color: #747c83 !important;
}

#subscribe #notifyMe ::-ms-input-placeholder {
  color: #747c83 !important;
}

#subscribe #notifyMe ::placeholder {
  color: #747c83 !important;
}

#subscribe #notifyMe .form-group {
  margin-bottom: 1em;
}

#subscribe #notifyMe .form-group .fa {
  color: #757A86;
  position: absolute;
  text-align: center;
  top: 15px;
  left: 15px;
}

#subscribe #notifyMe .form-group .form-control {
  text-align: center;
  background: #FFFFFF;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 50px;
  font-weight: 600;
  outline: medium none;
  padding: 0 1em;
  width: 100%;
  margin: auto;
  color: #000000;
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
}

#subscribe #notifyMe .form-group .form-control:hover, #subscribe #notifyMe .form-group .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#subscribe #notifyMe .form-group button.submit {
  border: 2px solid #0fe0ba;
  border-radius: 0;
  font-family: "Open Sans", "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  background: #0fe0ba;
  color: #FFFFFF;
  height: 50px;
  padding: 1em 0;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1;
  width: 70%;
  margin: 20px auto 0;
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
}

#subscribe #notifyMe .form-group button.submit:hover {
  background: #0dc8a6;
  color: #FFFFFF;
}

#subscribe .block-message {
  min-height: 50px;
  position: absolute;
  bottom: -100px;
  width: 100%;
  left: 0;
  padding: 15px;
  background: transparent;
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
}

#subscribe .block-message.show-block-error {
  bottom: 0;
  background: #FF1D4D;
}

#subscribe .block-message.show-block-valid {
  bottom: 0;
  background: #27AE60;
}

#subscribe p.notify-valid {
  color: #FFFFFF;
  text-transform: none;
  font-size: 16px;
  letter-spacing: 0;
  font-weight: 600;
}

.dialog__overlay {
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.dialog.dialog--open .dialog__content,
.dialog.dialog--close .dialog__content {
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.dialog.dialog--open .dialog__content {
  -webkit-animation-name: anim-open;
          animation-name: anim-open;
}

.dialog.dialog--close .dialog__content {
  -webkit-animation-name: anim-close;
          animation-name: anim-close;
}

@-webkit-keyframes anim-open {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes anim-open {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes anim-close {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0);
  }
}

@keyframes anim-close {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0);
  }
}

/* ------------------------------------- */
/* 5. Contact .......................... */
/* ------------------------------------- */
.info-contact {
  margin-bottom: 0;
}

.info-contact .item-map {
  padding: 0;
}

.info-contact .item-map:first-child {
  padding-left: 15px;
}

.info-contact .item-map:last-child {
  padding-right: 15px;
}

.info-contact .item-map .contact-item {
  padding: 15px 0;
  font-size: 14px;
  text-align: center;
}

.info-contact .item-map .contact-item i {
  color: #0fe0ba;
  font-size: 2em;
}

.info-contact .item-map .contact-item a {
  font-weight: 600;
  color: #757A86;
}

.info-contact .item-map .contact-item a:hover {
  color: #0fe0ba;
}

#contact-form ::-webkit-input-placeholder {
  color: #747c83 !important;
}

#contact-form :-ms-input-placeholder {
  color: #747c83 !important;
}

#contact-form ::-ms-input-placeholder {
  color: #747c83 !important;
}

#contact-form ::placeholder {
  color: #747c83 !important;
}

#contact-form .form-control {
  background: #FFFFFF;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-weight: 400;
  outline: medium none;
  height: 40px;
  width: 100%;
  color: #000000;
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  text-align: left;
}

#contact-form .form-control:hover, #contact-form .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#contact-form textarea.form-control {
  min-height: 150px;
}

#contact-form button#valid-form {
  font-weight: 400;
  padding: 1em 2em;
  font-size: 1em;
  display: block;
  margin: 0 auto 0;
  background: #0fe0ba;
  color: #FFFFFF;
  border-radius: 0;
  font-weight: 700;
  width: 100%;
  line-height: 10px;
}

#contact-form button#valid-form:hover {
  background: #0dc8a6;
  color: #FFFFFF;
}

#block-answer {
  min-height: 60px;
  margin-top: 1em;
  text-align: center;
  color: #757A86;
}

.success-message, .error-message {
  color: #757A86;
}

.success-message p, .error-message p {
  color: #757A86 !important;
}

.success-message .ion-checkmark-round, .error-message .ion-checkmark-round {
  color: #27AE60;
}

.error-message .ion-close-round {
  color: #FF1D4D;
}

/* ------------------------------------- */
/* 6. Social Icons ..................... */
/* ------------------------------------- */
.social-icons {
  position: absolute;
  left: 0;
  bottom: 2%;
  padding: 0 5%;
  display: inline-block;
  text-align: center;
  width: 100%;
  z-index: 9;
  overflow: hidden;
  white-space: nowrap;
  -webkit-transition: all 0.7s cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 0.7s cubic-bezier(0.42, 0, 0.58, 1);
}

.social-icons i {
  color: #FFFFFF;
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
}

.social-icons a {
  color: white;
  width: 40px;
  line-height: 40px;
  letter-spacing: 0;
  background: transparent;
  font-size: 1em;
  font-weight: 300;
  height: 40px;
  display: inline-block;
  text-align: center;
  margin-right: 2px;
  border: none;
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
}

.social-icons a:hover {
  color: #0fe0ba;
  background: transparent;
}

.social-icons a:hover i {
  color: #0fe0ba;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

/* ------------------------------------- */
/* 7. Footer/Copyright ................. */
/* ------------------------------------- */
footer {
  padding: 10px 0;
  background: transparent;
  text-align: center;
}

footer p {
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #757A86;
}

/* ------------------------------------- */
/* VARIANT STARS ....................... */
/* ------------------------------------- */
#stars {
  width: 1px;
  height: 1px;
  margin-left: 0;
  background: transparent;
  -webkit-box-shadow: 1463px 385px #FFF , 1704px 780px #FFF , 38px 1693px #FFF , 465px 767px #FFF , 68px 1213px #FFF , 2342px 1147px #FFF , 567px 2120px #FFF , 640px 236px #FFF , 944px 545px #FFF , 1730px 2048px #FFF , 1192px 1804px #FFF , 1435px 662px #FFF , 2412px 206px #FFF , 2263px 713px #FFF , 165px 1621px #FFF , 2455px 1405px #FFF , 845px 1872px #FFF , 1850px 2305px #FFF , 1794px 521px #FFF , 970px 2466px #FFF , 1284px 693px #FFF , 1951px 591px #FFF , 1779px 2106px #FFF , 358px 1390px #FFF , 1794px 12px #FFF , 778px 185px #FFF , 1185px 2465px #FFF , 2218px 2307px #FFF , 1095px 209px #FFF , 1078px 606px #FFF , 2117px 1744px #FFF , 1314px 624px #FFF , 2274px 550px #FFF , 1109px 2385px #FFF , 260px 397px #FFF , 1778px 1568px #FFF , 2093px 1122px #FFF , 646px 1274px #FFF , 30px 77px #FFF , 2200px 1354px #FFF , 2452px 555px #FFF , 694px 1206px #FFF , 1727px 2375px #FFF , 312px 1200px #FFF , 118px 1070px #FFF , 1599px 1232px #FFF , 99px 138px #FFF , 1259px 859px #FFF , 1467px 629px #FFF , 2294px 2295px #FFF , 1590px 1278px #FFF , 53px 1275px #FFF , 1552px 1688px #FFF , 1457px 1404px #FFF , 174px 1123px #FFF , 1853px 99px #FFF , 383px 362px #FFF , 2379px 1916px #FFF , 1042px 896px #FFF , 1582px 1720px #FFF , 348px 619px #FFF , 1150px 233px #FFF , 1221px 1009px #FFF , 2018px 1739px #FFF , 516px 2368px #FFF , 1359px 1198px #FFF , 592px 73px #FFF , 1951px 327px #FFF , 2474px 78px #FFF , 2120px 2048px #FFF , 1233px 2345px #FFF , 1420px 2269px #FFF , 1367px 923px #FFF , 1161px 755px #FFF , 626px 849px #FFF , 1241px 2122px #FFF , 723px 1383px #FFF , 1796px 1801px #FFF , 1589px 2307px #FFF , 407px 173px #FFF , 761px 1520px #FFF , 1305px 1499px #FFF , 2347px 2490px #FFF , 798px 490px #FFF , 612px 141px #FFF , 1538px 1053px #FFF , 256px 1531px #FFF , 1529px 1763px #FFF , 2437px 1574px #FFF , 1152px 751px #FFF , 721px 1874px #FFF , 380px 2279px #FFF , 1936px 1823px #FFF , 1551px 1300px #FFF , 136px 1739px #FFF , 873px 1613px #FFF , 168px 1426px #FFF , 314px 396px #FFF , 2359px 8px #FFF , 1380px 1541px #FFF , 650px 250px #FFF , 1502px 1402px #FFF , 169px 2466px #FFF , 2303px 1185px #FFF , 723px 600px #FFF , 1269px 281px #FFF , 950px 970px #FFF , 1133px 2246px #FFF , 151px 2068px #FFF , 39px 488px #FFF , 1000px 1192px #FFF , 2143px 295px #FFF , 70px 33px #FFF , 1827px 1316px #FFF , 608px 789px #FFF , 1746px 1209px #FFF , 676px 669px #FFF , 112px 1415px #FFF , 2241px 309px #FFF , 869px 407px #FFF , 2495px 1912px #FFF , 1066px 347px #FFF , 2219px 1516px #FFF , 791px 729px #FFF , 273px 2289px #FFF , 982px 1941px #FFF , 1809px 949px #FFF , 2255px 2090px #FFF , 365px 2359px #FFF , 1389px 1828px #FFF , 673px 2273px #FFF , 2443px 1790px #FFF , 1406px 1068px #FFF , 332px 286px #FFF , 1468px 2379px #FFF , 25px 8px #FFF , 1261px 317px #FFF , 477px 2467px #FFF , 669px 2107px #FFF , 591px 2139px #FFF , 829px 1020px #FFF , 1px 396px #FFF , 1455px 2037px #FFF , 1664px 974px #FFF , 29px 37px #FFF , 2182px 1416px #FFF , 417px 717px #FFF , 1925px 2178px #FFF , 1513px 1081px #FFF , 1093px 923px #FFF , 133px 1410px #FFF , 1791px 1817px #FFF , 765px 1939px #FFF , 102px 2369px #FFF , 2396px 1866px #FFF , 2135px 798px #FFF , 1652px 1425px #FFF , 1504px 539px #FFF , 903px 1517px #FFF , 2127px 2099px #FFF , 289px 980px #FFF , 2208px 1340px #FFF , 1030px 296px #FFF , 2320px 654px #FFF , 895px 2450px #FFF , 18px 1022px #FFF , 2021px 1487px #FFF , 1612px 832px #FFF , 622px 1898px #FFF , 952px 1126px #FFF , 1550px 325px #FFF , 464px 1589px #FFF , 911px 318px #FFF , 1738px 2089px #FFF , 1431px 2411px #FFF , 1632px 1776px #FFF , 1697px 1694px #FFF , 454px 2018px #FFF , 2481px 283px #FFF , 1577px 130px #FFF , 893px 2340px #FFF , 1507px 751px #FFF , 1012px 1650px #FFF , 1069px 237px #FFF , 95px 1256px #FFF , 899px 1648px #FFF , 1661px 2253px #FFF , 1214px 2085px #FFF , 993px 2134px #FFF , 1791px 2126px #FFF , 202px 1461px #FFF , 790px 1907px #FFF , 117px 2134px #FFF , 1339px 1686px #FFF , 2020px 561px #FFF , 1774px 1893px #FFF , 1048px 1847px #FFF , 2109px 1054px #FFF , 1582px 2399px #FFF , 2081px 2154px #FFF;
          box-shadow: 1463px 385px #FFF , 1704px 780px #FFF , 38px 1693px #FFF , 465px 767px #FFF , 68px 1213px #FFF , 2342px 1147px #FFF , 567px 2120px #FFF , 640px 236px #FFF , 944px 545px #FFF , 1730px 2048px #FFF , 1192px 1804px #FFF , 1435px 662px #FFF , 2412px 206px #FFF , 2263px 713px #FFF , 165px 1621px #FFF , 2455px 1405px #FFF , 845px 1872px #FFF , 1850px 2305px #FFF , 1794px 521px #FFF , 970px 2466px #FFF , 1284px 693px #FFF , 1951px 591px #FFF , 1779px 2106px #FFF , 358px 1390px #FFF , 1794px 12px #FFF , 778px 185px #FFF , 1185px 2465px #FFF , 2218px 2307px #FFF , 1095px 209px #FFF , 1078px 606px #FFF , 2117px 1744px #FFF , 1314px 624px #FFF , 2274px 550px #FFF , 1109px 2385px #FFF , 260px 397px #FFF , 1778px 1568px #FFF , 2093px 1122px #FFF , 646px 1274px #FFF , 30px 77px #FFF , 2200px 1354px #FFF , 2452px 555px #FFF , 694px 1206px #FFF , 1727px 2375px #FFF , 312px 1200px #FFF , 118px 1070px #FFF , 1599px 1232px #FFF , 99px 138px #FFF , 1259px 859px #FFF , 1467px 629px #FFF , 2294px 2295px #FFF , 1590px 1278px #FFF , 53px 1275px #FFF , 1552px 1688px #FFF , 1457px 1404px #FFF , 174px 1123px #FFF , 1853px 99px #FFF , 383px 362px #FFF , 2379px 1916px #FFF , 1042px 896px #FFF , 1582px 1720px #FFF , 348px 619px #FFF , 1150px 233px #FFF , 1221px 1009px #FFF , 2018px 1739px #FFF , 516px 2368px #FFF , 1359px 1198px #FFF , 592px 73px #FFF , 1951px 327px #FFF , 2474px 78px #FFF , 2120px 2048px #FFF , 1233px 2345px #FFF , 1420px 2269px #FFF , 1367px 923px #FFF , 1161px 755px #FFF , 626px 849px #FFF , 1241px 2122px #FFF , 723px 1383px #FFF , 1796px 1801px #FFF , 1589px 2307px #FFF , 407px 173px #FFF , 761px 1520px #FFF , 1305px 1499px #FFF , 2347px 2490px #FFF , 798px 490px #FFF , 612px 141px #FFF , 1538px 1053px #FFF , 256px 1531px #FFF , 1529px 1763px #FFF , 2437px 1574px #FFF , 1152px 751px #FFF , 721px 1874px #FFF , 380px 2279px #FFF , 1936px 1823px #FFF , 1551px 1300px #FFF , 136px 1739px #FFF , 873px 1613px #FFF , 168px 1426px #FFF , 314px 396px #FFF , 2359px 8px #FFF , 1380px 1541px #FFF , 650px 250px #FFF , 1502px 1402px #FFF , 169px 2466px #FFF , 2303px 1185px #FFF , 723px 600px #FFF , 1269px 281px #FFF , 950px 970px #FFF , 1133px 2246px #FFF , 151px 2068px #FFF , 39px 488px #FFF , 1000px 1192px #FFF , 2143px 295px #FFF , 70px 33px #FFF , 1827px 1316px #FFF , 608px 789px #FFF , 1746px 1209px #FFF , 676px 669px #FFF , 112px 1415px #FFF , 2241px 309px #FFF , 869px 407px #FFF , 2495px 1912px #FFF , 1066px 347px #FFF , 2219px 1516px #FFF , 791px 729px #FFF , 273px 2289px #FFF , 982px 1941px #FFF , 1809px 949px #FFF , 2255px 2090px #FFF , 365px 2359px #FFF , 1389px 1828px #FFF , 673px 2273px #FFF , 2443px 1790px #FFF , 1406px 1068px #FFF , 332px 286px #FFF , 1468px 2379px #FFF , 25px 8px #FFF , 1261px 317px #FFF , 477px 2467px #FFF , 669px 2107px #FFF , 591px 2139px #FFF , 829px 1020px #FFF , 1px 396px #FFF , 1455px 2037px #FFF , 1664px 974px #FFF , 29px 37px #FFF , 2182px 1416px #FFF , 417px 717px #FFF , 1925px 2178px #FFF , 1513px 1081px #FFF , 1093px 923px #FFF , 133px 1410px #FFF , 1791px 1817px #FFF , 765px 1939px #FFF , 102px 2369px #FFF , 2396px 1866px #FFF , 2135px 798px #FFF , 1652px 1425px #FFF , 1504px 539px #FFF , 903px 1517px #FFF , 2127px 2099px #FFF , 289px 980px #FFF , 2208px 1340px #FFF , 1030px 296px #FFF , 2320px 654px #FFF , 895px 2450px #FFF , 18px 1022px #FFF , 2021px 1487px #FFF , 1612px 832px #FFF , 622px 1898px #FFF , 952px 1126px #FFF , 1550px 325px #FFF , 464px 1589px #FFF , 911px 318px #FFF , 1738px 2089px #FFF , 1431px 2411px #FFF , 1632px 1776px #FFF , 1697px 1694px #FFF , 454px 2018px #FFF , 2481px 283px #FFF , 1577px 130px #FFF , 893px 2340px #FFF , 1507px 751px #FFF , 1012px 1650px #FFF , 1069px 237px #FFF , 95px 1256px #FFF , 899px 1648px #FFF , 1661px 2253px #FFF , 1214px 2085px #FFF , 993px 2134px #FFF , 1791px 2126px #FFF , 202px 1461px #FFF , 790px 1907px #FFF , 117px 2134px #FFF , 1339px 1686px #FFF , 2020px 561px #FFF , 1774px 1893px #FFF , 1048px 1847px #FFF , 2109px 1054px #FFF , 1582px 2399px #FFF , 2081px 2154px #FFF;
  -webkit-animation: animStar 50s infinite linear;
          animation: animStar 50s infinite linear;
}

#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  -webkit-box-shadow: 1463px 385px #FFF , 1704px 780px #FFF , 38px 1693px #FFF , 465px 767px #FFF , 68px 1213px #FFF , 2342px 1147px #FFF , 567px 2120px #FFF , 640px 236px #FFF , 944px 545px #FFF , 1730px 2048px #FFF , 1192px 1804px #FFF , 1435px 662px #FFF , 2412px 206px #FFF , 2263px 713px #FFF , 165px 1621px #FFF , 2455px 1405px #FFF , 845px 1872px #FFF , 1850px 2305px #FFF , 1794px 521px #FFF , 970px 2466px #FFF , 1284px 693px #FFF , 1951px 591px #FFF , 1779px 2106px #FFF , 358px 1390px #FFF , 1794px 12px #FFF , 778px 185px #FFF , 1185px 2465px #FFF , 2218px 2307px #FFF , 1095px 209px #FFF , 1078px 606px #FFF , 2117px 1744px #FFF , 1314px 624px #FFF , 2274px 550px #FFF , 1109px 2385px #FFF , 260px 397px #FFF , 1778px 1568px #FFF , 2093px 1122px #FFF , 646px 1274px #FFF , 30px 77px #FFF , 2200px 1354px #FFF , 2452px 555px #FFF , 694px 1206px #FFF , 1727px 2375px #FFF , 312px 1200px #FFF , 118px 1070px #FFF , 1599px 1232px #FFF , 99px 138px #FFF , 1259px 859px #FFF , 1467px 629px #FFF , 2294px 2295px #FFF , 1590px 1278px #FFF , 53px 1275px #FFF , 1552px 1688px #FFF , 1457px 1404px #FFF , 174px 1123px #FFF , 1853px 99px #FFF , 383px 362px #FFF , 2379px 1916px #FFF , 1042px 896px #FFF , 1582px 1720px #FFF , 348px 619px #FFF , 1150px 233px #FFF , 1221px 1009px #FFF , 2018px 1739px #FFF , 516px 2368px #FFF , 1359px 1198px #FFF , 592px 73px #FFF , 1951px 327px #FFF , 2474px 78px #FFF , 2120px 2048px #FFF , 1233px 2345px #FFF , 1420px 2269px #FFF , 1367px 923px #FFF , 1161px 755px #FFF , 626px 849px #FFF , 1241px 2122px #FFF , 723px 1383px #FFF , 1796px 1801px #FFF , 1589px 2307px #FFF , 407px 173px #FFF , 761px 1520px #FFF , 1305px 1499px #FFF , 2347px 2490px #FFF , 798px 490px #FFF , 612px 141px #FFF , 1538px 1053px #FFF , 256px 1531px #FFF , 1529px 1763px #FFF , 2437px 1574px #FFF , 1152px 751px #FFF , 721px 1874px #FFF , 380px 2279px #FFF , 1936px 1823px #FFF , 1551px 1300px #FFF , 136px 1739px #FFF , 873px 1613px #FFF , 168px 1426px #FFF , 314px 396px #FFF , 2359px 8px #FFF , 1380px 1541px #FFF , 650px 250px #FFF , 1502px 1402px #FFF , 169px 2466px #FFF , 2303px 1185px #FFF , 723px 600px #FFF , 1269px 281px #FFF , 950px 970px #FFF , 1133px 2246px #FFF , 151px 2068px #FFF , 39px 488px #FFF , 1000px 1192px #FFF , 2143px 295px #FFF , 70px 33px #FFF , 1827px 1316px #FFF , 608px 789px #FFF , 1746px 1209px #FFF , 676px 669px #FFF , 112px 1415px #FFF , 2241px 309px #FFF , 869px 407px #FFF , 2495px 1912px #FFF , 1066px 347px #FFF , 2219px 1516px #FFF , 791px 729px #FFF , 273px 2289px #FFF , 982px 1941px #FFF , 1809px 949px #FFF , 2255px 2090px #FFF , 365px 2359px #FFF , 1389px 1828px #FFF , 673px 2273px #FFF , 2443px 1790px #FFF , 1406px 1068px #FFF , 332px 286px #FFF , 1468px 2379px #FFF , 25px 8px #FFF , 1261px 317px #FFF , 477px 2467px #FFF , 669px 2107px #FFF , 591px 2139px #FFF , 829px 1020px #FFF , 1px 396px #FFF , 1455px 2037px #FFF , 1664px 974px #FFF , 29px 37px #FFF , 2182px 1416px #FFF , 417px 717px #FFF , 1925px 2178px #FFF , 1513px 1081px #FFF , 1093px 923px #FFF , 133px 1410px #FFF , 1791px 1817px #FFF , 765px 1939px #FFF , 102px 2369px #FFF , 2396px 1866px #FFF , 2135px 798px #FFF , 1652px 1425px #FFF , 1504px 539px #FFF , 903px 1517px #FFF , 2127px 2099px #FFF , 289px 980px #FFF , 2208px 1340px #FFF , 1030px 296px #FFF , 2320px 654px #FFF , 895px 2450px #FFF , 18px 1022px #FFF , 2021px 1487px #FFF , 1612px 832px #FFF , 622px 1898px #FFF , 952px 1126px #FFF , 1550px 325px #FFF , 464px 1589px #FFF , 911px 318px #FFF , 1738px 2089px #FFF , 1431px 2411px #FFF , 1632px 1776px #FFF , 1697px 1694px #FFF , 454px 2018px #FFF , 2481px 283px #FFF , 1577px 130px #FFF , 893px 2340px #FFF , 1507px 751px #FFF , 1012px 1650px #FFF , 1069px 237px #FFF , 95px 1256px #FFF , 899px 1648px #FFF , 1661px 2253px #FFF , 1214px 2085px #FFF , 993px 2134px #FFF , 1791px 2126px #FFF , 202px 1461px #FFF , 790px 1907px #FFF , 117px 2134px #FFF , 1339px 1686px #FFF , 2020px 561px #FFF , 1774px 1893px #FFF , 1048px 1847px #FFF , 2109px 1054px #FFF , 1582px 2399px #FFF , 2081px 2154px #FFF;
          box-shadow: 1463px 385px #FFF , 1704px 780px #FFF , 38px 1693px #FFF , 465px 767px #FFF , 68px 1213px #FFF , 2342px 1147px #FFF , 567px 2120px #FFF , 640px 236px #FFF , 944px 545px #FFF , 1730px 2048px #FFF , 1192px 1804px #FFF , 1435px 662px #FFF , 2412px 206px #FFF , 2263px 713px #FFF , 165px 1621px #FFF , 2455px 1405px #FFF , 845px 1872px #FFF , 1850px 2305px #FFF , 1794px 521px #FFF , 970px 2466px #FFF , 1284px 693px #FFF , 1951px 591px #FFF , 1779px 2106px #FFF , 358px 1390px #FFF , 1794px 12px #FFF , 778px 185px #FFF , 1185px 2465px #FFF , 2218px 2307px #FFF , 1095px 209px #FFF , 1078px 606px #FFF , 2117px 1744px #FFF , 1314px 624px #FFF , 2274px 550px #FFF , 1109px 2385px #FFF , 260px 397px #FFF , 1778px 1568px #FFF , 2093px 1122px #FFF , 646px 1274px #FFF , 30px 77px #FFF , 2200px 1354px #FFF , 2452px 555px #FFF , 694px 1206px #FFF , 1727px 2375px #FFF , 312px 1200px #FFF , 118px 1070px #FFF , 1599px 1232px #FFF , 99px 138px #FFF , 1259px 859px #FFF , 1467px 629px #FFF , 2294px 2295px #FFF , 1590px 1278px #FFF , 53px 1275px #FFF , 1552px 1688px #FFF , 1457px 1404px #FFF , 174px 1123px #FFF , 1853px 99px #FFF , 383px 362px #FFF , 2379px 1916px #FFF , 1042px 896px #FFF , 1582px 1720px #FFF , 348px 619px #FFF , 1150px 233px #FFF , 1221px 1009px #FFF , 2018px 1739px #FFF , 516px 2368px #FFF , 1359px 1198px #FFF , 592px 73px #FFF , 1951px 327px #FFF , 2474px 78px #FFF , 2120px 2048px #FFF , 1233px 2345px #FFF , 1420px 2269px #FFF , 1367px 923px #FFF , 1161px 755px #FFF , 626px 849px #FFF , 1241px 2122px #FFF , 723px 1383px #FFF , 1796px 1801px #FFF , 1589px 2307px #FFF , 407px 173px #FFF , 761px 1520px #FFF , 1305px 1499px #FFF , 2347px 2490px #FFF , 798px 490px #FFF , 612px 141px #FFF , 1538px 1053px #FFF , 256px 1531px #FFF , 1529px 1763px #FFF , 2437px 1574px #FFF , 1152px 751px #FFF , 721px 1874px #FFF , 380px 2279px #FFF , 1936px 1823px #FFF , 1551px 1300px #FFF , 136px 1739px #FFF , 873px 1613px #FFF , 168px 1426px #FFF , 314px 396px #FFF , 2359px 8px #FFF , 1380px 1541px #FFF , 650px 250px #FFF , 1502px 1402px #FFF , 169px 2466px #FFF , 2303px 1185px #FFF , 723px 600px #FFF , 1269px 281px #FFF , 950px 970px #FFF , 1133px 2246px #FFF , 151px 2068px #FFF , 39px 488px #FFF , 1000px 1192px #FFF , 2143px 295px #FFF , 70px 33px #FFF , 1827px 1316px #FFF , 608px 789px #FFF , 1746px 1209px #FFF , 676px 669px #FFF , 112px 1415px #FFF , 2241px 309px #FFF , 869px 407px #FFF , 2495px 1912px #FFF , 1066px 347px #FFF , 2219px 1516px #FFF , 791px 729px #FFF , 273px 2289px #FFF , 982px 1941px #FFF , 1809px 949px #FFF , 2255px 2090px #FFF , 365px 2359px #FFF , 1389px 1828px #FFF , 673px 2273px #FFF , 2443px 1790px #FFF , 1406px 1068px #FFF , 332px 286px #FFF , 1468px 2379px #FFF , 25px 8px #FFF , 1261px 317px #FFF , 477px 2467px #FFF , 669px 2107px #FFF , 591px 2139px #FFF , 829px 1020px #FFF , 1px 396px #FFF , 1455px 2037px #FFF , 1664px 974px #FFF , 29px 37px #FFF , 2182px 1416px #FFF , 417px 717px #FFF , 1925px 2178px #FFF , 1513px 1081px #FFF , 1093px 923px #FFF , 133px 1410px #FFF , 1791px 1817px #FFF , 765px 1939px #FFF , 102px 2369px #FFF , 2396px 1866px #FFF , 2135px 798px #FFF , 1652px 1425px #FFF , 1504px 539px #FFF , 903px 1517px #FFF , 2127px 2099px #FFF , 289px 980px #FFF , 2208px 1340px #FFF , 1030px 296px #FFF , 2320px 654px #FFF , 895px 2450px #FFF , 18px 1022px #FFF , 2021px 1487px #FFF , 1612px 832px #FFF , 622px 1898px #FFF , 952px 1126px #FFF , 1550px 325px #FFF , 464px 1589px #FFF , 911px 318px #FFF , 1738px 2089px #FFF , 1431px 2411px #FFF , 1632px 1776px #FFF , 1697px 1694px #FFF , 454px 2018px #FFF , 2481px 283px #FFF , 1577px 130px #FFF , 893px 2340px #FFF , 1507px 751px #FFF , 1012px 1650px #FFF , 1069px 237px #FFF , 95px 1256px #FFF , 899px 1648px #FFF , 1661px 2253px #FFF , 1214px 2085px #FFF , 993px 2134px #FFF , 1791px 2126px #FFF , 202px 1461px #FFF , 790px 1907px #FFF , 117px 2134px #FFF , 1339px 1686px #FFF , 2020px 561px #FFF , 1774px 1893px #FFF , 1048px 1847px #FFF , 2109px 1054px #FFF , 1582px 2399px #FFF , 2081px 2154px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  margin-left: 0;
  background: transparent;
  -webkit-box-shadow: 1671px 1880px #FFF , 2437px 570px #FFF , 2428px 885px #FFF , 2301px 1472px #FFF , 1886px 2299px #FFF , 1246px 1598px #FFF , 1387px 1110px #FFF , 562px 120px #FFF , 1323px 978px #FFF , 2475px 1870px #FFF , 816px 282px #FFF , 1074px 865px #FFF , 466px 84px #FFF , 912px 1944px #FFF , 2391px 951px #FFF , 1395px 2483px #FFF , 1195px 243px #FFF , 2262px 281px #FFF , 939px 2189px #FFF , 69px 641px #FFF , 1444px 392px #FFF , 2324px 912px #FFF , 631px 1185px #FFF , 1897px 537px #FFF , 1457px 2105px #FFF , 612px 996px #FFF , 1728px 1747px #FFF , 1278px 1384px #FFF , 1532px 1580px #FFF , 785px 2414px #FFF , 597px 1551px #FFF , 965px 1759px #FFF , 1953px 1064px #FFF , 2158px 1817px #FFF , 1318px 867px #FFF , 569px 1382px #FFF , 1665px 991px #FFF , 2475px 733px #FFF , 1193px 1565px #FFF , 56px 1148px #FFF , 456px 541px #FFF , 1232px 643px #FFF , 2146px 1735px #FFF , 2136px 1152px #FFF , 866px 1503px #FFF , 286px 1866px #FFF , 1021px 2374px #FFF , 1258px 55px #FFF , 1746px 144px #FFF , 69px 1685px #FFF , 724px 745px #FFF , 1129px 54px #FFF , 990px 1539px #FFF , 840px 767px #FFF , 1722px 2061px #FFF , 1684px 945px #FFF , 309px 1587px #FFF , 1668px 360px #FFF , 2293px 492px #FFF , 615px 1881px #FFF , 316px 490px #FFF , 1786px 1950px #FFF , 77px 1576px #FFF , 2357px 874px #FFF , 1595px 150px #FFF , 2263px 2315px #FFF , 1557px 690px #FFF , 2369px 1616px #FFF , 1021px 469px #FFF , 2469px 2347px #FFF , 1864px 2428px #FFF , 1050px 2119px #FFF , 54px 735px #FFF , 1938px 1468px #FFF , 767px 567px #FFF , 1254px 721px #FFF , 691px 2429px #FFF , 2489px 1509px #FFF , 1016px 345px #FFF , 1718px 945px #FFF , 2475px 2394px #FFF , 613px 1314px #FFF , 83px 750px #FFF , 459px 1241px #FFF , 1063px 470px #FFF , 901px 1576px #FFF , 237px 2058px #FFF , 1689px 287px #FFF , 1614px 591px #FFF , 2166px 1069px #FFF , 1183px 1255px #FFF , 2087px 317px #FFF , 1192px 61px #FFF , 1045px 267px #FFF , 1668px 1807px #FFF , 1376px 663px #FFF , 1554px 2089px #FFF , 993px 1774px #FFF , 1100px 1852px #FFF , 1092px 602px #FFF;
          box-shadow: 1671px 1880px #FFF , 2437px 570px #FFF , 2428px 885px #FFF , 2301px 1472px #FFF , 1886px 2299px #FFF , 1246px 1598px #FFF , 1387px 1110px #FFF , 562px 120px #FFF , 1323px 978px #FFF , 2475px 1870px #FFF , 816px 282px #FFF , 1074px 865px #FFF , 466px 84px #FFF , 912px 1944px #FFF , 2391px 951px #FFF , 1395px 2483px #FFF , 1195px 243px #FFF , 2262px 281px #FFF , 939px 2189px #FFF , 69px 641px #FFF , 1444px 392px #FFF , 2324px 912px #FFF , 631px 1185px #FFF , 1897px 537px #FFF , 1457px 2105px #FFF , 612px 996px #FFF , 1728px 1747px #FFF , 1278px 1384px #FFF , 1532px 1580px #FFF , 785px 2414px #FFF , 597px 1551px #FFF , 965px 1759px #FFF , 1953px 1064px #FFF , 2158px 1817px #FFF , 1318px 867px #FFF , 569px 1382px #FFF , 1665px 991px #FFF , 2475px 733px #FFF , 1193px 1565px #FFF , 56px 1148px #FFF , 456px 541px #FFF , 1232px 643px #FFF , 2146px 1735px #FFF , 2136px 1152px #FFF , 866px 1503px #FFF , 286px 1866px #FFF , 1021px 2374px #FFF , 1258px 55px #FFF , 1746px 144px #FFF , 69px 1685px #FFF , 724px 745px #FFF , 1129px 54px #FFF , 990px 1539px #FFF , 840px 767px #FFF , 1722px 2061px #FFF , 1684px 945px #FFF , 309px 1587px #FFF , 1668px 360px #FFF , 2293px 492px #FFF , 615px 1881px #FFF , 316px 490px #FFF , 1786px 1950px #FFF , 77px 1576px #FFF , 2357px 874px #FFF , 1595px 150px #FFF , 2263px 2315px #FFF , 1557px 690px #FFF , 2369px 1616px #FFF , 1021px 469px #FFF , 2469px 2347px #FFF , 1864px 2428px #FFF , 1050px 2119px #FFF , 54px 735px #FFF , 1938px 1468px #FFF , 767px 567px #FFF , 1254px 721px #FFF , 691px 2429px #FFF , 2489px 1509px #FFF , 1016px 345px #FFF , 1718px 945px #FFF , 2475px 2394px #FFF , 613px 1314px #FFF , 83px 750px #FFF , 459px 1241px #FFF , 1063px 470px #FFF , 901px 1576px #FFF , 237px 2058px #FFF , 1689px 287px #FFF , 1614px 591px #FFF , 2166px 1069px #FFF , 1183px 1255px #FFF , 2087px 317px #FFF , 1192px 61px #FFF , 1045px 267px #FFF , 1668px 1807px #FFF , 1376px 663px #FFF , 1554px 2089px #FFF , 993px 1774px #FFF , 1100px 1852px #FFF , 1092px 602px #FFF;
  -webkit-animation: animStar 100s infinite linear;
          animation: animStar 100s infinite linear;
}

#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  -webkit-box-shadow: 1671px 1880px #FFF , 2437px 570px #FFF , 2428px 885px #FFF , 2301px 1472px #FFF , 1886px 2299px #FFF , 1246px 1598px #FFF , 1387px 1110px #FFF , 562px 120px #FFF , 1323px 978px #FFF , 2475px 1870px #FFF , 816px 282px #FFF , 1074px 865px #FFF , 466px 84px #FFF , 912px 1944px #FFF , 2391px 951px #FFF , 1395px 2483px #FFF , 1195px 243px #FFF , 2262px 281px #FFF , 939px 2189px #FFF , 69px 641px #FFF , 1444px 392px #FFF , 2324px 912px #FFF , 631px 1185px #FFF , 1897px 537px #FFF , 1457px 2105px #FFF , 612px 996px #FFF , 1728px 1747px #FFF , 1278px 1384px #FFF , 1532px 1580px #FFF , 785px 2414px #FFF , 597px 1551px #FFF , 965px 1759px #FFF , 1953px 1064px #FFF , 2158px 1817px #FFF , 1318px 867px #FFF , 569px 1382px #FFF , 1665px 991px #FFF , 2475px 733px #FFF , 1193px 1565px #FFF , 56px 1148px #FFF , 456px 541px #FFF , 1232px 643px #FFF , 2146px 1735px #FFF , 2136px 1152px #FFF , 866px 1503px #FFF , 286px 1866px #FFF , 1021px 2374px #FFF , 1258px 55px #FFF , 1746px 144px #FFF , 69px 1685px #FFF , 724px 745px #FFF , 1129px 54px #FFF , 990px 1539px #FFF , 840px 767px #FFF , 1722px 2061px #FFF , 1684px 945px #FFF , 309px 1587px #FFF , 1668px 360px #FFF , 2293px 492px #FFF , 615px 1881px #FFF , 316px 490px #FFF , 1786px 1950px #FFF , 77px 1576px #FFF , 2357px 874px #FFF , 1595px 150px #FFF , 2263px 2315px #FFF , 1557px 690px #FFF , 2369px 1616px #FFF , 1021px 469px #FFF , 2469px 2347px #FFF , 1864px 2428px #FFF , 1050px 2119px #FFF , 54px 735px #FFF , 1938px 1468px #FFF , 767px 567px #FFF , 1254px 721px #FFF , 691px 2429px #FFF , 2489px 1509px #FFF , 1016px 345px #FFF , 1718px 945px #FFF , 2475px 2394px #FFF , 613px 1314px #FFF , 83px 750px #FFF , 459px 1241px #FFF , 1063px 470px #FFF , 901px 1576px #FFF , 237px 2058px #FFF , 1689px 287px #FFF , 1614px 591px #FFF , 2166px 1069px #FFF , 1183px 1255px #FFF , 2087px 317px #FFF , 1192px 61px #FFF , 1045px 267px #FFF , 1668px 1807px #FFF , 1376px 663px #FFF , 1554px 2089px #FFF , 993px 1774px #FFF , 1100px 1852px #FFF , 1092px 602px #FFF;
          box-shadow: 1671px 1880px #FFF , 2437px 570px #FFF , 2428px 885px #FFF , 2301px 1472px #FFF , 1886px 2299px #FFF , 1246px 1598px #FFF , 1387px 1110px #FFF , 562px 120px #FFF , 1323px 978px #FFF , 2475px 1870px #FFF , 816px 282px #FFF , 1074px 865px #FFF , 466px 84px #FFF , 912px 1944px #FFF , 2391px 951px #FFF , 1395px 2483px #FFF , 1195px 243px #FFF , 2262px 281px #FFF , 939px 2189px #FFF , 69px 641px #FFF , 1444px 392px #FFF , 2324px 912px #FFF , 631px 1185px #FFF , 1897px 537px #FFF , 1457px 2105px #FFF , 612px 996px #FFF , 1728px 1747px #FFF , 1278px 1384px #FFF , 1532px 1580px #FFF , 785px 2414px #FFF , 597px 1551px #FFF , 965px 1759px #FFF , 1953px 1064px #FFF , 2158px 1817px #FFF , 1318px 867px #FFF , 569px 1382px #FFF , 1665px 991px #FFF , 2475px 733px #FFF , 1193px 1565px #FFF , 56px 1148px #FFF , 456px 541px #FFF , 1232px 643px #FFF , 2146px 1735px #FFF , 2136px 1152px #FFF , 866px 1503px #FFF , 286px 1866px #FFF , 1021px 2374px #FFF , 1258px 55px #FFF , 1746px 144px #FFF , 69px 1685px #FFF , 724px 745px #FFF , 1129px 54px #FFF , 990px 1539px #FFF , 840px 767px #FFF , 1722px 2061px #FFF , 1684px 945px #FFF , 309px 1587px #FFF , 1668px 360px #FFF , 2293px 492px #FFF , 615px 1881px #FFF , 316px 490px #FFF , 1786px 1950px #FFF , 77px 1576px #FFF , 2357px 874px #FFF , 1595px 150px #FFF , 2263px 2315px #FFF , 1557px 690px #FFF , 2369px 1616px #FFF , 1021px 469px #FFF , 2469px 2347px #FFF , 1864px 2428px #FFF , 1050px 2119px #FFF , 54px 735px #FFF , 1938px 1468px #FFF , 767px 567px #FFF , 1254px 721px #FFF , 691px 2429px #FFF , 2489px 1509px #FFF , 1016px 345px #FFF , 1718px 945px #FFF , 2475px 2394px #FFF , 613px 1314px #FFF , 83px 750px #FFF , 459px 1241px #FFF , 1063px 470px #FFF , 901px 1576px #FFF , 237px 2058px #FFF , 1689px 287px #FFF , 1614px 591px #FFF , 2166px 1069px #FFF , 1183px 1255px #FFF , 2087px 317px #FFF , 1192px 61px #FFF , 1045px 267px #FFF , 1668px 1807px #FFF , 1376px 663px #FFF , 1554px 2089px #FFF , 993px 1774px #FFF , 1100px 1852px #FFF , 1092px 602px #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  margin-left: 0;
  background: transparent;
  -webkit-box-shadow: 1667px 823px #FFF , 583px 2233px #FFF , 771px 938px #FFF , 1867px 2336px #FFF , 1442px 2275px #FFF , 1957px 178px #FFF , 2044px 1854px #FFF , 668px 1232px #FFF , 758px 1734px #FFF , 2326px 2051px #FFF , 307px 2106px #FFF , 2284px 1778px #FFF , 2069px 135px #FFF , 1735px 1637px #FFF , 1361px 895px #FFF , 1048px 1887px #FFF , 270px 1163px #FFF , 635px 271px #FFF , 1162px 2203px #FFF , 2209px 1021px #FFF , 653px 46px #FFF , 153px 806px #FFF , 2391px 564px #FFF , 2165px 700px #FFF , 1559px 1219px #FFF , 1860px 1364px #FFF , 1312px 2462px #FFF , 441px 2386px #FFF , 107px 2125px #FFF , 1402px 1630px #FFF , 2486px 1780px #FFF , 859px 1280px #FFF , 638px 1227px #FFF , 2487px 240px #FFF , 1199px 1081px #FFF , 2174px 2205px #FFF , 194px 2152px #FFF , 883px 578px #FFF , 190px 697px #FFF , 270px 791px #FFF , 2065px 245px #FFF , 2338px 1124px #FFF , 1007px 2082px #FFF , 1275px 2337px #FFF , 1736px 890px #FFF , 1672px 1553px #FFF , 2359px 1094px #FFF , 1688px 1579px #FFF , 1451px 693px #FFF , 925px 2137px #FFF;
          box-shadow: 1667px 823px #FFF , 583px 2233px #FFF , 771px 938px #FFF , 1867px 2336px #FFF , 1442px 2275px #FFF , 1957px 178px #FFF , 2044px 1854px #FFF , 668px 1232px #FFF , 758px 1734px #FFF , 2326px 2051px #FFF , 307px 2106px #FFF , 2284px 1778px #FFF , 2069px 135px #FFF , 1735px 1637px #FFF , 1361px 895px #FFF , 1048px 1887px #FFF , 270px 1163px #FFF , 635px 271px #FFF , 1162px 2203px #FFF , 2209px 1021px #FFF , 653px 46px #FFF , 153px 806px #FFF , 2391px 564px #FFF , 2165px 700px #FFF , 1559px 1219px #FFF , 1860px 1364px #FFF , 1312px 2462px #FFF , 441px 2386px #FFF , 107px 2125px #FFF , 1402px 1630px #FFF , 2486px 1780px #FFF , 859px 1280px #FFF , 638px 1227px #FFF , 2487px 240px #FFF , 1199px 1081px #FFF , 2174px 2205px #FFF , 194px 2152px #FFF , 883px 578px #FFF , 190px 697px #FFF , 270px 791px #FFF , 2065px 245px #FFF , 2338px 1124px #FFF , 1007px 2082px #FFF , 1275px 2337px #FFF , 1736px 890px #FFF , 1672px 1553px #FFF , 2359px 1094px #FFF , 1688px 1579px #FFF , 1451px 693px #FFF , 925px 2137px #FFF;
  -webkit-animation: animStar 150s infinite linear;
          animation: animStar 150s infinite linear;
}

#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  -webkit-box-shadow: 1667px 823px #FFF , 583px 2233px #FFF , 771px 938px #FFF , 1867px 2336px #FFF , 1442px 2275px #FFF , 1957px 178px #FFF , 2044px 1854px #FFF , 668px 1232px #FFF , 758px 1734px #FFF , 2326px 2051px #FFF , 307px 2106px #FFF , 2284px 1778px #FFF , 2069px 135px #FFF , 1735px 1637px #FFF , 1361px 895px #FFF , 1048px 1887px #FFF , 270px 1163px #FFF , 635px 271px #FFF , 1162px 2203px #FFF , 2209px 1021px #FFF , 653px 46px #FFF , 153px 806px #FFF , 2391px 564px #FFF , 2165px 700px #FFF , 1559px 1219px #FFF , 1860px 1364px #FFF , 1312px 2462px #FFF , 441px 2386px #FFF , 107px 2125px #FFF , 1402px 1630px #FFF , 2486px 1780px #FFF , 859px 1280px #FFF , 638px 1227px #FFF , 2487px 240px #FFF , 1199px 1081px #FFF , 2174px 2205px #FFF , 194px 2152px #FFF , 883px 578px #FFF , 190px 697px #FFF , 270px 791px #FFF , 2065px 245px #FFF , 2338px 1124px #FFF , 1007px 2082px #FFF , 1275px 2337px #FFF , 1736px 890px #FFF , 1672px 1553px #FFF , 2359px 1094px #FFF , 1688px 1579px #FFF , 1451px 693px #FFF , 925px 2137px #FFF;
          box-shadow: 1667px 823px #FFF , 583px 2233px #FFF , 771px 938px #FFF , 1867px 2336px #FFF , 1442px 2275px #FFF , 1957px 178px #FFF , 2044px 1854px #FFF , 668px 1232px #FFF , 758px 1734px #FFF , 2326px 2051px #FFF , 307px 2106px #FFF , 2284px 1778px #FFF , 2069px 135px #FFF , 1735px 1637px #FFF , 1361px 895px #FFF , 1048px 1887px #FFF , 270px 1163px #FFF , 635px 271px #FFF , 1162px 2203px #FFF , 2209px 1021px #FFF , 653px 46px #FFF , 153px 806px #FFF , 2391px 564px #FFF , 2165px 700px #FFF , 1559px 1219px #FFF , 1860px 1364px #FFF , 1312px 2462px #FFF , 441px 2386px #FFF , 107px 2125px #FFF , 1402px 1630px #FFF , 2486px 1780px #FFF , 859px 1280px #FFF , 638px 1227px #FFF , 2487px 240px #FFF , 1199px 1081px #FFF , 2174px 2205px #FFF , 194px 2152px #FFF , 883px 578px #FFF , 190px 697px #FFF , 270px 791px #FFF , 2065px 245px #FFF , 2338px 1124px #FFF , 1007px 2082px #FFF , 1275px 2337px #FFF , 1736px 890px #FFF , 1672px 1553px #FFF , 2359px 1094px #FFF , 1688px 1579px #FFF , 1451px 693px #FFF , 925px 2137px #FFF;
}

@-webkit-keyframes animStar {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
}

@keyframes animStar {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
}

/* ------------------------------------- */
/* VARIANT CLOUD ....................... */
/* ------------------------------------- */
#cloud-animation {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  position: fixed;
}

#cloud-animation img {
  width: 100%;
  left: 0;
  top: 10%;
  position: absolute;
}

@-webkit-keyframes animCloud {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes animCloud {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

#cloud1 {
  -webkit-animation: animCloud 25s infinite linear;
          animation: animCloud 25s infinite linear;
}

#cloud2 {
  -webkit-animation: animCloud 35s infinite linear;
          animation: animCloud 35s infinite linear;
}

#cloud3 {
  -webkit-animation: animCloud 45s infinite linear;
          animation: animCloud 45s infinite linear;
}

#cloud4 {
  -webkit-animation: animCloud 55s infinite linear;
          animation: animCloud 55s infinite linear;
}

/* ------------------------------------- */
/* VARIANT YOUTUBE ..................... */
/* ------------------------------------- */
.mbYTP_wrapper {
  width: 100vw !important;
  z-index: 0 !important;
  min-width: 0 !important;
  left: 0 !important;
}

.ytb-overlay {
  background: rgba(32, 35, 45, 0.6);
}

.light-overlay {
  background: rgba(32, 35, 45, 0.5) !important;
}

#player-nav {
  position: fixed;
  right: 30px;
  bottom: 30px;
  text-align: center;
  z-index: 1;
}

#player-nav li {
  display: inline-block;
  background: rgba(15, 224, 186, 0.4);
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 0;
  -webkit-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
}

#player-nav li:hover {
  background: rgba(15, 224, 186, 0.8);
}

#player-nav li:hover a {
  color: #FFFFFF;
}

#player-nav li a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.5);
}

/* ------------------------------------- */
/* VARIANT GRADIENT .................... */
/* ------------------------------------- */
.no-background {
  background: none !important;
}

#gradient {
  width: 100%;
  height: 100%;
  opacity: 0.8;
  padding: 0px;
  margin: 0px;
}

/* ------------------------------------- */
/* VARIANT FLAT SURFACE SHADER ......... */
/* ------------------------------------- */
#fss-part {
  background: transparent !important;
}

#container {
  height: 100%;
  position: absolute;
  width: 100%;
  left: 0;
}

.fss-wrap:before {
  background: rgba(32, 35, 45, 0.5) !important;
}

.back-fss {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* ------------------------------------- */
/* VARIANT RAIN ........................ */
/* ------------------------------------- */
#rainy {
  height: 100%;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

#home-wrap:before {
  background: rgba(32, 35, 45, 0.5) !important;
}

/* ------------------------------------- */
/* VARIANT SQUARE ...................... */
/* ------------------------------------- */
#square-canvas {
  display: block;
  position: fixed;
  top: -100px;
}

/* ------------------------------------- */
/* VARIANT STAR WARS ................... */
/* ------------------------------------- */
#starfield {
  position: fixed !important;
}

/* ------------------------------------- */
/* VARIANT CONSTELLATION ............... */
/* ------------------------------------- */
#constellationel {
  z-index: 1;
  left: 0;
  top: 0;
  position: absolute;
}

/* ------------------------------------- */
/* GALLERY PHOTOS ...................... */
/* ------------------------------------- */
.pswp__bg {
  background: #20232D;
}

.pswp__caption h4 {
  margin-bottom: 10px !important;
}

/* ------------------------------------- */
/* 8. Media Queries .................... */
/* ------------------------------------- */
/* Large Devices, Wide Screens */
/* Notebook devices */
/* Medium Devices, Desktops */
@media only screen and (max-width: 1024px) {
  .global-overlay.hide-overlay {
    opacity: 1 !important;
  }
  .global-overlay .overlay {
    left: 0;
    width: 100%;
    height: 100%;
  }
  .global-overlay .overlay.skew-part {
    -webkit-transform: skew(0deg, 0deg);
            transform: skew(0deg, 0deg);
  }
  #stars, #stars2, #stars3 {
    margin-left: 0 !important;
  }
  .command-info-wrap {
    display: none !important;
  }
  #home-wrap {
    position: relative;
    width: 100%;
    height: auto;
    padding: 100px 0 150px;
  }
  #home-wrap.hide-left {
    width: 100% !important;
  }
  #home-wrap .content {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: auto;
    text-align: center;
  }
  .social-icons {
    left: 0;
    bottom: 0;
    margin-left: 0;
    margin-bottom: 0;
  }
  #info-wrap {
    position: relative;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    top: 0;
    width: 100%;
    opacity: 1;
    left: 0;
  }
  #info-wrap.show-info {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .mCSB_scrollTools {
    display: none;
  }
  .mCSB_scrollTools-left {
    right: 0 !important;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .light-btn {
    max-width: 70%;
    min-width: 60%;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .action-btn {
    max-width: 70%;
    min-width: 60%;
  }
  .center-text h3 {
    font-size: 40px !important;
  }
  .photo-line figure {
    padding: 0;
    width: 100% !important;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  }
  .info-contact .item-map:first-child {
    padding-left: 0;
  }
  .info-contact .item-map:last-child {
    padding-right: 0;
  }
  .dialog__content {
    width: 80%;
    max-width: 80%;
    min-width: 75%;
  }
  .dialog .dialog-inner {
    padding: 40px 20px 90px;
    overflow: hidden;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  #home-wrap {
    padding: 50px 0 100px;
  }
  #home-wrap .content {
    padding: 0 3%;
  }
  #home-wrap .content p {
    font-size: 16px;
  }
  #home-wrap.minimal-phone {
    height: 100vh;
  }
  #contact-form {
    margin-top: 50px;
  }
  h1.text-intro {
    font-size: 30px;
  }
  h2.text-intro {
    font-size: 18px;
  }
  .center-text h3 {
    font-size: 30px !important;
  }
  .text-countdown #getting-started .second-timer {
    min-width: 55px;
  }
  .light-btn {
    max-width: 80%;
    min-width: 70%;
  }
  .action-btn {
    max-width: 80%;
    min-width: 70%;
  }
  .dialog__content {
    width: 95%;
    max-width: 95%;
    min-width: 75%;
  }
  .dialog .close-newsletter {
    top: 2px;
    right: 5px;
  }
  .dialog .dialog-inner {
    padding: 40px 20px 50px;
  }
  .dialog .dialog-inner h4 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  #subscribe .block-message {
    padding: 5px 2px;
  }
  #subscribe p.notify-valid {
    font-size: 12px;
  }
}

/* Only for tablet in landscape mode */
/* Only for phone in landscape mode */
@media screen and (max-device-width: 667px) and (orientation: landscape) {
  #home-wrap {
    padding: 50px 0 100px;
  }
  h1.text-intro {
    font-size: 30px;
  }
  h2.text-intro {
    font-size: 18px;
  }
  #contact-form {
    margin-top: 30px;
  }
  .dialog__content {
    width: 100%;
    max-width: 100%;
    min-width: 75%;
  }
  .dialog .close-newsletter {
    top: 2px;
    right: 5px;
  }
  .dialog .dialog-inner {
    padding: 40px 20px 50px;
  }
  .dialog .dialog-inner h4 {
    font-size: 25px;
    margin-bottom: 5px;
  }
  #subscribe #notifyMe {
    margin-top: 10px;
  }
  #subscribe #notifyMe .form-group .form-control {
    width: 70%;
    margin: 0;
    float: left;
  }
  #subscribe #notifyMe .form-group button.submit {
    width: 30%;
    margin: 0;
    float: left;
  }
  #subscribe .block-message {
    padding: 5px 2px;
  }
  #subscribe p.notify-valid {
    font-size: 12px;
  }
}
