/*
* LEGEND - Iconic Coming Soon Template
* Build Date: January 2016
* Last Update: 16th November 2017
* Author: Madeon08
* Copyright (C) 2018 Madeon08
* This is a premium product available exclusively here : http://themeforest.net/user/Madeon08/portfolio
*/
/*  TABLE OF CONTENTS
    ---------------------------
    *. @Import & Reset
    1. Generic styles
    2. Home
    3. More Informations
    4. Newsletter
    5. Contact
    6. Social Icons
    7. Footer/Copyright
    8. Media Queries
*/
/* ------------------------------------- */
/* *. @Import & Reset .................. */
/* ------------------------------------- */

/* custom CSS files */
@import url(font-awesome.min.css);
@import url(ionicons.min.css);
@import url(bootstrap.min.css);
@import url(animate.css);
@import url(photoswipe.css);
@import url(default-skin/default-skin.css);
@import url(jquery.mCustomScrollbar.css);
@import url(vegas.css);
/* Google Fonts */
@import url("http://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,300,600,700|Raleway:400,200,600|Pacifico");
/*
* http://meyerweb.com/eric/tools/css/reset/ 
* v2.0 | 20110126
* License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------------------------------------- */
/* Preloader styles .................... */
/* ------------------------------------- */
#loading {
  width: 100vw;
  height: 100vh;
  background: #20232D;
  position: fixed;
  z-index: 999;
}

#loading #preloader {
  position: relative;
  width: 100%;
  height: 80px;
  top: calc(50% - 50px);
  text-align: center;
  margin: 0 auto;
}

#loading #preloader:after {
  content: "www.qualshore.com";
  /* Text under the circles */
  position: absolute;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  color: #4d515f;
  letter-spacing: 1px;
  font-family: Montserrat, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  top: 90px;
  width: 100%;
  left: 0;
  right: 0;
  height: 1px;
  text-align: center;
}

#loading #preloader span {
  position: absolute;
  border: 4px solid #DC4444;
  border-radius: 100%;
}

#loading #preloader span:nth-child(1) {
  width: 80px;
  height: 80px;
  left: calc(50% - 40px);
  -webkit-animation: spin-1 1s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
          animation: spin-1 1s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
}

#loading #preloader span:nth-child(2) {
  top: 20px;
  left: calc(50% - 20px);
  width: 40px;
  height: 40px;
  -webkit-animation: spin-2 1s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
          animation: spin-2 1s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
}

@-webkit-keyframes spin-1 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@keyframes spin-1 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes spin-2 {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

@keyframes spin-2 {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

/* ------------------------------------- */
/* 1. Generic styles ................... */
/* ------------------------------------- */
body {
  background: #20232D;
  font-family: "Open Sans", "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 100%;
  line-height: 1.5em;
  position: absolute;
  height: 100%;
  margin-top: 10vh;
}

.scroll-touch {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

body, html {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
}

body, input, select, textarea {
  -webkit-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
}

a {
  -webkit-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  cursor: pointer;
  text-decoration: none;
  color: #FFFFFF;
}

a:hover {
  color: #DC4444;
  text-decoration: none !important;
  outline: none !important;
}

a:active, a:focus {
  outline: none !important;
  text-decoration: none !important;
  color: #FFFFFF;
}

button {
  -webkit-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  cursor: pointer;
}

button:hover, button:active, button:focus {
  outline: none !important;
  text-decoration: none !important;
  color: #2B2D35;
}

strong, b {
  font-weight: 700;
}

em, i {
  font-style: italic;
}

p {
  margin: 0;
  font-size: 1em;
  line-height: 1.6em;
  color: #FFFFFF;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  color: #FFFFFF;
  font-weight: 400;
  line-height: 1.3em;
  font-family: Raleway, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
  text-decoration: none;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  color: inherit;
}

h1 {
  font-size: 60px;
  font-weight: 400;
}

h2 {
  font-size: 22px;
  margin-top: 15px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-bottom: 25px;
}

h4 {
  font-size: 25px;
  margin-bottom: 25px;
}

h5 {
  font-size: 20px;
  margin-bottom: 25px;
}

h6 {
  font-size: 15px;
  margin-bottom: 25px;
}

sub {
  font-size: 0.8em;
  position: relative;
  top: 0.5em;
}

sup {
  font-size: 0.8em;
  position: relative;
  top: -0.5em;
}

.clear {
  clear: both;
}

.display-none {
  display: none !important;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.opacity-0 {
  opacity: 0 !important;
  visibility: hidden !important;
}

.opacity-03 {
  opacity: 0.3 !important;
}

.opacity-1 {
  opacity: 1 !important;
  visibility: visible !important;
}

.index-999 {
  z-index: -999 !important;
}

.tooltip.top .tooltip-arrow {
  border-top-color: #2B2D35;
}

.tooltip.right .tooltip-arrow {
  border-right-color: #2B2D35;
}

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #2B2D35;
}

.tooltip.left .tooltip-arrow {
  border-left-color: #2B2D35;
}

.tooltip .tooltip-inner {
  background: #2B2D35;
  color: #DC4444;
  font-family: Montserrat, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  font-weight: 400;
}

::-moz-selection {
  color: #FFFFFF;
  background-color: #DC4444;
}

::selection {
  color: #FFFFFF;
  background-color: #DC4444;
}

/* ------------------------------------- */
/* 2. Home ............................. */
/* ------------------------------------- */
.light-btn {
  background: transparent;
  font-weight: 600;
  padding: 0.7em 2em;
  color: #FFFFFF;
  display: inline-block;
  margin-right: 10px;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.light-btn:hover {
  background: transparent;
  color: #FFFFFF;
  border-color: #FFFFFF;
}

.action-btn {
  background: #DC4444;
  font-weight: 600;
  padding: 0.7em 2em;
  color: #FFFFFF;
  display: inline-block;
  border: 1px solid #DC4444;
}

.action-btn:hover {
  background: #FFFFFF;
  color: #2B2D35;
  border-color: #FFFFFF;
}

.global-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow: visible;
  width: 100%;
  z-index: 0;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.global-overlay.hide-overlay {
  opacity: 0.4 !important;
}

.global-overlay .overlay {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh !important;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 3s cubic-bezier(0.215, 0.61, 0.355, 1);
  border-right: 1px solid #15171e;
}

.global-overlay .overlay.skew-part {
  -webkit-transform: skew(-25deg, 0deg);
          transform: skew(-25deg, 0deg);
}

.global-overlay .overlay .overlay-dash {
  background: url(../img/overlay.svg);
  background-size: cover;
  background-position: center center;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh !important;
}

.brand-logo {
  position: relative;
  max-width: 150px;
  margin: auto;
  margin-bottom: 15px;
}

.polyfy-title {
  padding: 0 15px 0 0;
  margin-left: -10px;
  color: #FFFFFF;
  text-transform: none;
  font-family: Pacifico, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
}

.text-countdown {
  font-family: Montserrat, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  font-size: 40px;
}

.text-countdown #getting-started {
  display: inline-block;
}

.text-countdown #getting-started .second-timer {
  min-width: 70px;
  text-align: left !important;
  display: inline-block;
}

#home-wrap {
  position: fixed;
  background: transparent;
  left: 0;
  top: 0;
  width: 50vw;
  height: 100vh;
  opacity: 0;
  z-index: 0;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#home-wrap:before {
  content: " ";
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100%;
  background: rgba(32, 35, 45, 0.8);
  z-index: 0;
  outline: none;
}

#home-wrap.hide-left {
  width: calc(50% - 50px) !important;
}

#home-wrap .content {
  position: absolute;
  z-index: 0;
  left: 0;
  padding: 0;
  top: 50vh;
  width: 100%;
  padding: 0 5%;
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 1;
  visibility: visible;
}

#home-wrap .content p {
  font-weight: 400;
  line-height: 1.4em;
  font-family: Raleway, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  font-size: 22px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.vegas-slide, .vegas-timer {
  width: 50vw;
}

/* ------------------------------------- */
/* 3. More informations ................ */
/* ------------------------------------- */
#info-wrap {
  background: #FFFFFF;
  overflow: auto;
  color: #000000;
  margin: 0;
  z-index: 15;
  position: relative;
  width: 50%;
  min-height: 100vh;
  left: 100vw;
  opacity: 0;
  top: 0;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#info-wrap h1, #info-wrap h2, #info-wrap h3, #info-wrap h4, #info-wrap h5, #info-wrap h6 {
  color: #000000;
  font-size: 50px;
}

#info-wrap p {
  color: #f2f3f7;
}

#info-wrap.show-info {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  opacity: 1;
}

#info-wrap .center-text {
  vertical-align: middle;
  display: table-cell;
  text-align: center;
}

#info-wrap .content {
  width: 100%;
  padding: 8% 10% 0;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 1;
  visibility: visible;
}

#info-wrap .content h1, #info-wrap .content h2, #info-wrap .content h3, #info-wrap .content h4, #info-wrap .content h5, #info-wrap .content h6 {
  color: #757A86;
}

#info-wrap .content h3 {
  font-family: Montserrat, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

#info-wrap .content span.separator {
  display: block;
  height: 2px;
  background: #FFFFFF;
  width: 100%;
  margin: 50px 0 60px;
}

#info-wrap .content p {
  color: #747c83;
}

#info-wrap h1, #info-wrap h2, #info-wrap h3, #info-wrap h4, #info-wrap h5, #info-wrap h6 {
  font-weight: 600;
}

#info-wrap h1.darky, #info-wrap h2.darky, #info-wrap h3.darky, #info-wrap h4.darky, #info-wrap h5.darky, #info-wrap h6.darky {
  color: #555555;
  text-transform: uppercase;
  font-weight: 600;
  font-family: Montserrat, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
}

#info-wrap h1.lighty, #info-wrap h2.lighty, #info-wrap h3.lighty, #info-wrap h4.lighty, #info-wrap h5.lighty, #info-wrap h6.lighty {
  color: #F7F7F7;
  text-transform: uppercase;
  font-weight: 600;
  font-family: Montserrat, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
}

#info-wrap p {
  color: #f2f3f7;
}

#info-wrap .hero {
  position: relative;
  background-color: #FFFFFF;
  height: 25vh;
  display: table;
  width: 100% !important;
  padding: 8% 10%;
  text-align: center;
}

#info-wrap .dark-hero {
  position: relative;
  background-color: #20232D;
  height: 25vh;
  display: table;
  width: 100% !important;
  padding: 8% 10%;
  text-align: center;
}

#info-wrap .dark-hero:after {
  z-index: 5;
  position: absolute;
  top: 98.1%;
  left: 50%;
  margin-left: -50px;
  content: '';
  width: 0;
  height: 0;
  border-top: solid 50px #20232D;
  border-left: solid 50px transparent;
  border-right: solid 50px transparent;
}

#info-wrap .content {
  padding: 0;
}

#info-wrap .content-form {
  padding: 8% 10%;
  background: #f2f3f7;
}

#info-wrap .no-padding-bottom {
  padding-bottom: 0;
}

#info-wrap .center-text {
  vertical-align: middle;
  display: table-cell;
}

#info-wrap .photo-line figure {
  padding: 0;
  margin: 0;
  width: 50%;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  background: #000000;
}

#info-wrap .photo-line figure.clear-second {
  clear: both;
}

#info-wrap .photo-line figure a.box-picture {
  overflow: hidden;
  width: 100%;
  display: block;
  position: relative;
  background: #20232D;
}

#info-wrap .photo-line figure a.box-picture img {
  opacity: 0.6;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#info-wrap .photo-line figure a.box-picture .text-center {
  bottom: 50%;
  line-height: 1;
  height: auto;
  width: 100%;
  text-align: center;
  left: 0;
  opacity: 1;
  position: absolute;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
}

#info-wrap .photo-line figure a.box-picture .text-center h4 {
  color: #FFFFFF;
  font-family: Raleway, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 2px;
}

#info-wrap .photo-line figure a.box-picture .text-center p {
  color: #F7F7F7;
  font-weight: 600;
  font-size: 0.8em;
}

#info-wrap .photo-line figure a.box-picture:hover {
  background: #20232D;
}

#info-wrap .photo-line figure a.box-picture:hover img {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

#info-wrap .photo-line figure a.box-picture:hover p {
  opacity: 1;
}

#info-wrap .photo-line figure img {
  overflow: hidden;
  -webkit-transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

#info-wrap .photo-line figure figcaption {
  display: none;
}

#info-wrap .photo-line figure .photo-details {
  background: #FFFFFF;
  padding: 1em;
  text-align: left;
  color: #747c83;
}

#info-wrap .photo-line figure .photo-details h4 {
  font-weight: 800;
  margin-bottom: 1em;
  text-transform: uppercase;
  font-size: 0.8em;
  opacity: 1;
  color: #747c83;
}

#info-wrap .photo-line figure .photo-details span.border {
  display: block;
  height: 2px;
  background: #DC4444;
  width: 10%;
  margin: 0.8em 0 1em;
}

#info-wrap .photo-line figure .photo-details p {
  font-size: 0.9em;
  color: #999999;
  font-weight: 500;
  line-height: 1.2;
}

.command-info-wrap {
  position: fixed;
  top: 0;
  left: 100vw;
  opacity: 0;
  z-index: 5;
  color: #FFFFFF;
  padding: 0;
  background: #2B2D35;
  width: 50%;
  height: 100vh;
  border: none;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.command-info-wrap.show-command {
  -webkit-transform: translate3d(calc(-100% - 50px), 0, 0);
  transform: translate3d(calc(-100% - 50px), 0, 0);
  opacity: 1 !important;
}

.command-info-wrap button.to-close {
  background: #2B2D35;
  font-size: 1.5em;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 50px;
  height: 100%;
  line-height: 100%;
  text-align: center;
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
}

.command-info-wrap button.to-close i {
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
}

.command-info-wrap button.to-close:hover {
  background: #22232a;
  color: #FFFFFF;
}

.command-info-wrap button.to-close:hover i {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.command-info-wrap .to-scroll {
  background: transparent;
  font-size: 1.5em;
  border: none;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
  width: 50px;
  height: 50px;
  line-height: 40px;
  text-align: center;
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
}

.command-info-wrap .to-scroll:hover {
  color: #FFFFFF;
}

.command-info-wrap .to-scroll.hide-scroll {
  bottom: -50px !important;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.scroll-down {
  display: inline-block;
  content: "";
  -webkit-animation: scroll 1.3s ease-out infinite forwards;
  animation: scroll 1.3s ease-out infinite forwards;
}

.widget-angle-top-right {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border: none;
  padding: 0;
  color: #DC4444;
  font-size: 1em;
  border-top: 50px solid #2B2D35;
  border-left: 50px solid transparent;
}

.widget-angle-top-right span.icon-text {
  font-family: Montserrat, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  font-weight: 700;
  position: absolute;
  top: -47px;
  left: -22px;
}

.widget-angle-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  background: transparent;
  border: none;
  padding: 0;
  color: #DC4444;
  font-size: 1em;
  border-bottom: 50px solid #2B2D35;
  border-left: 50px solid transparent;
}

.widget-angle-bottom-right span.icon-text {
  font-family: Montserrat, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  font-weight: 700;
  position: absolute;
  top: 23px;
  left: -22px;
}

.widget-angle-bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
  background: transparent;
  border: none;
  padding: 0;
  color: #DC4444;
  font-size: 1em;
  border-bottom: 50px solid #2B2D35;
  border-right: 50px solid transparent;
}

.widget-angle-bottom-left span.icon-text {
  font-family: Montserrat, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  font-weight: 700;
  position: absolute;
  top: 23px;
  left: 7px;
}

.widget-angle-top-left {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  border: none;
  padding: 0;
  color: #DC4444;
  font-size: 1em;
  border-top: 50px solid #2B2D35;
  border-right: 50px solid transparent;
}

.widget-angle-top-left span.icon-text {
  font-family: Montserrat, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  font-weight: 700;
  position: absolute;
  top: -47px;
  left: 7px;
}

.mCSB_scrollTools {
  /* Scrollbar */
  position: absolute;
  width: 5px;
  height: auto;
  left: auto;
  top: 0;
  right: 0px;
  bottom: 0;
  z-index: 25;
  -webkit-transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
}

.mCSB_scrollTools .mCSB_draggerRail {
  width: 5px;
  height: 100%;
  margin: 0;
  border-radius: 0;
  background-color: #757a86;
  filter: "alpha(opacity=40)";
  -ms-filter: "alpha(opacity=40)";
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  /* the dragger element */
  position: relative;
  width: 5px;
  height: 100%;
  margin: 0 auto;
  border-radius: 0;
  text-align: center;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #DC4444;
}

/* ------------------------------------- */
/* 4. Newsletter ....................... */
/* ------------------------------------- */
.dialog,
.dialog__overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.dialog {
  position: fixed;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
}

.dialog__overlay {
  position: absolute;
  z-index: 1;
  background: rgba(31, 34, 46, 0.9);
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.dialog--open .dialog__overlay {
  opacity: 1;
  pointer-events: auto;
}

.dialog__content {
  width: 50%;
  max-width: 500px;
  min-width: 290px;
  background: transparent;
  padding: 0;
  text-align: center;
  position: relative;
  z-index: 5;
  opacity: 0;
  overflow: hidden;
  background: url(../img/background-newsletter.jpg) center;
  background-size: cover;
  border: 10px solid #2B2D35;
  -webkit-transition: all 3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.dialog__content::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border: 1px solid #DC4444;
  background: rgba(32, 35, 45, 0.8);
}

.dialog--open .dialog__content {
  pointer-events: auto;
}

.dialog .close-newsletter {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background: transparent;
  width: 40px;
  height: 40px;
  line-height: 35px;
  color: #FFFFFF;
  font-size: 20px;
  opacity: 0.5;
}

.dialog .close-newsletter:hover {
  opacity: 1;
}

.dialog .dialog-inner {
  padding: 90px 70px;
  overflow: hidden;
}

.dialog .dialog-inner::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.dialog .dialog-inner h4 {
  color: #FFFFFF;
  font-size: 40px;
  font-family: Montserrat, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  font-weight: 700;
}

.dialog .dialog-inner p {
  color: #f2f3f7;
  font-size: 16px;
}

#subscribe p {
  font-weight: 400;
}

#subscribe #notifyMe {
  max-width: 450px;
  margin: auto;
  margin-top: 2em;
}

#subscribe #notifyMe ::-webkit-input-placeholder {
  color: #747c83 !important;
}

#subscribe #notifyMe :-ms-input-placeholder {
  color: #747c83 !important;
}

#subscribe #notifyMe ::-ms-input-placeholder {
  color: #747c83 !important;
}

#subscribe #notifyMe ::placeholder {
  color: #747c83 !important;
}

#subscribe #notifyMe .form-group {
  margin-bottom: 1em;
}

#subscribe #notifyMe .form-group .fa {
  color: #757A86;
  position: absolute;
  text-align: center;
  top: 15px;
  left: 15px;
}

#subscribe #notifyMe .form-group .form-control {
  text-align: center;
  background: #FFFFFF;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 50px;
  font-weight: 600;
  outline: medium none;
  padding: 0 1em;
  width: 100%;
  margin: auto;
  color: #000000;
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
}

#subscribe #notifyMe .form-group .form-control:hover, #subscribe #notifyMe .form-group .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#subscribe #notifyMe .form-group button.submit {
  border: 2px solid #DC4444;
  border-radius: 0;
  font-family: "Open Sans", "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
  background: #DC4444;
  color: #FFFFFF;
  height: 50px;
  padding: 1em 0;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1;
  width: 70%;
  margin: 20px auto 0;
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
}

#subscribe #notifyMe .form-group button.submit:hover {
  background: #DC4444;
  color: #FFFFFF;
}

#subscribe .block-message {
  min-height: 50px;
  position: absolute;
  bottom: -100px;
  width: 100%;
  left: 0;
  padding: 15px;
  background: transparent;
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
}

#subscribe .block-message.show-block-error {
  bottom: 0;
  background: #FF1D4D;
}

#subscribe .block-message.show-block-valid {
  bottom: 0;
  background: #DC4444;
}

#subscribe p.notify-valid {
  color: #FFFFFF;
  text-transform: none;
  font-size: 16px;
  letter-spacing: 0;
  font-weight: 600;
}

.dialog__overlay {
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.dialog.dialog--open .dialog__content,
.dialog.dialog--close .dialog__content {
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.dialog.dialog--open .dialog__content {
  -webkit-animation-name: anim-open;
          animation-name: anim-open;
}

.dialog.dialog--close .dialog__content {
  -webkit-animation-name: anim-close;
          animation-name: anim-close;
}

@-webkit-keyframes anim-open {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes anim-open {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes anim-close {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0);
  }
}

@keyframes anim-close {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0);
  }
}

/* ------------------------------------- */
/* 5. Contact .......................... */
/* ------------------------------------- */
.info-contact {
  margin-bottom: 0;
}

.info-contact .item-map {
  padding: 0;
}

.info-contact .item-map:first-child {
  padding-left: 15px;
}

.info-contact .item-map:last-child {
  padding-right: 15px;
}

.info-contact .item-map .contact-item {
  padding: 15px 0;
  font-size: 14px;
  text-align: center;
}

.info-contact .item-map .contact-item i {
  color: #DC4444;
  font-size: 2em;
}

.info-contact .item-map .contact-item a {
  font-weight: 600;
  color: #f2f3f7;
}

.info-contact .item-map .contact-item a:hover {
  color: #DC4444;
}

#contact-form ::-webkit-input-placeholder {
  color: #747c83 !important;
}

#contact-form :-ms-input-placeholder {
  color: #747c83 !important;
}

#contact-form ::-ms-input-placeholder {
  color: #747c83 !important;
}

#contact-form ::placeholder {
  color: #747c83 !important;
}

#contact-form .form-control {
  background: #FFFFFF;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-weight: 400;
  outline: medium none;
  height: 40px;
  width: 100%;
  color: #000000;
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  text-align: left;
}

#contact-form .form-control:hover, #contact-form .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#contact-form textarea.form-control {
  min-height: 90px;
}

#contact-form button#valid-form {
  font-weight: 400;
  padding: 1em 2em;
  font-size: 1em;
  display: block;
  margin: 0 auto 0;
  background: #DC4444;
  color: #FFFFFF;
  border-radius: 0;
  font-weight: 700;
  width: 100%;
  line-height: 10px;
}

#contact-form button#valid-form:hover {
  background: #DC4444;
  color: #FFFFFF;
}

#block-answer {
  min-height: 60px;
  margin-top: 1em;
  text-align: center;
  color: #757A86;
}

.success-message, .error-message {
  color: #757A86;
}

.success-message p, .error-message p {
  color: #757A86 !important;
}

.success-message .ion-checkmark-round, .error-message .ion-checkmark-round {
  color: #DC4444;
}

.error-message .ion-close-round {
  color: #FF1D4D;
}

/* ------------------------------------- */
/* 6. Social Icons ..................... */
/* ------------------------------------- */
.social-icons {
  position: absolute;
  left: 0;
  bottom: 2%;
  padding: 0 5%;
  display: inline-block;
  text-align: center;
  width: 100%;
  z-index: 9;
  overflow: hidden;
  white-space: nowrap;
  -webkit-transition: all 0.7s cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 0.7s cubic-bezier(0.42, 0, 0.58, 1);
}

.social-icons i {
  color: #FFFFFF;
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
}

.social-icons a {
  color: white;
  width: 40px;
  line-height: 40px;
  letter-spacing: 0;
  background: transparent;
  font-size: 1em;
  font-weight: 300;
  height: 40px;
  display: inline-block;
  text-align: center;
  margin-right: 2px;
  border: none;
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
}

.social-icons a:hover {
  color: #DC4444;
  background: transparent;
}

.social-icons a:hover i {
  color: #DC4444;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

/* ------------------------------------- */
/* 7. Footer/Copyright ................. */
/* ------------------------------------- */
footer {
  padding: 10px 0;
  /*background: transparent;*/
  background: #20232D;
  text-align: center;
}

footer p {
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #757A86;
}

/* ------------------------------------- */
/* VARIANT STARS ....................... */
/* ------------------------------------- */
#stars {
  width: 1px;
  height: 1px;
  margin-left: 0;
  background: transparent;
  -webkit-box-shadow: 2144px 361px #FFF , 2334px 1811px #FFF , 1155px 2183px #FFF , 60px 1256px #FFF , 2170px 256px #FFF , 1133px 368px #FFF , 475px 463px #FFF , 1654px 1107px #FFF , 1954px 2039px #FFF , 1679px 2201px #FFF , 2194px 6px #FFF , 1548px 471px #FFF , 134px 693px #FFF , 1014px 2310px #FFF , 2366px 1021px #FFF , 1463px 351px #FFF , 944px 212px #FFF , 1160px 1948px #FFF , 1207px 474px #FFF , 1290px 1331px #FFF , 2362px 342px #FFF , 1941px 983px #FFF , 599px 1965px #FFF , 2489px 278px #FFF , 430px 1401px #FFF , 2295px 2039px #FFF , 1717px 918px #FFF , 1481px 407px #FFF , 33px 2488px #FFF , 1138px 1462px #FFF , 2447px 1514px #FFF , 687px 56px #FFF , 87px 1587px #FFF , 478px 1188px #FFF , 1308px 1534px #FFF , 2111px 702px #FFF , 1551px 1798px #FFF , 1651px 2485px #FFF , 1093px 173px #FFF , 2235px 2031px #FFF , 60px 1506px #FFF , 1661px 1587px #FFF , 464px 799px #FFF , 1307px 632px #FFF , 1341px 1023px #FFF , 1540px 1045px #FFF , 1248px 2021px #FFF , 2137px 1203px #FFF , 99px 1914px #FFF , 85px 788px #FFF , 413px 655px #FFF , 524px 786px #FFF , 1316px 769px #FFF , 337px 122px #FFF , 1670px 1094px #FFF , 223px 176px #FFF , 842px 1013px #FFF , 550px 1674px #FFF , 1062px 2269px #FFF , 775px 996px #FFF , 766px 91px #FFF , 291px 631px #FFF , 987px 1556px #FFF , 280px 2342px #FFF , 328px 2427px #FFF , 813px 393px #FFF , 1860px 1220px #FFF , 2260px 468px #FFF , 2156px 1080px #FFF , 132px 1940px #FFF , 498px 2171px #FFF , 58px 1845px #FFF , 1385px 1398px #FFF , 905px 1312px #FFF , 1059px 1835px #FFF , 823px 1207px #FFF , 2049px 120px #FFF , 1060px 153px #FFF , 1883px 2465px #FFF , 2057px 741px #FFF , 227px 1396px #FFF , 1202px 2354px #FFF , 1205px 681px #FFF , 630px 1974px #FFF , 1772px 2438px #FFF , 1526px 280px #FFF , 2190px 2273px #FFF , 1976px 988px #FFF , 496px 591px #FFF , 1027px 1236px #FFF , 2227px 127px #FFF , 2085px 987px #FFF , 1956px 2007px #FFF , 1979px 625px #FFF , 609px 2220px #FFF , 2147px 611px #FFF , 153px 470px #FFF , 1348px 632px #FFF , 2185px 405px #FFF , 1573px 889px #FFF , 895px 2256px #FFF , 1945px 1680px #FFF , 1296px 946px #FFF , 263px 1613px #FFF , 221px 1456px #FFF , 407px 1329px #FFF , 1164px 1453px #FFF , 226px 781px #FFF , 733px 1678px #FFF , 1021px 1363px #FFF , 844px 450px #FFF , 332px 807px #FFF , 861px 1620px #FFF , 1283px 2166px #FFF , 2368px 2253px #FFF , 580px 1375px #FFF , 2421px 510px #FFF , 1609px 1983px #FFF , 1218px 1987px #FFF , 622px 206px #FFF , 765px 1741px #FFF , 1644px 1600px #FFF , 132px 1876px #FFF , 734px 677px #FFF , 1525px 108px #FFF , 2153px 1709px #FFF , 1921px 2168px #FFF , 518px 2399px #FFF , 1356px 2286px #FFF , 1237px 1800px #FFF , 998px 540px #FFF , 1259px 419px #FFF , 2326px 2445px #FFF , 508px 899px #FFF , 254px 439px #FFF , 651px 2458px #FFF , 2336px 529px #FFF , 1960px 1539px #FFF , 1784px 161px #FFF , 9px 2333px #FFF , 1450px 502px #FFF , 69px 2001px #FFF , 2391px 59px #FFF , 2232px 697px #FFF , 555px 1984px #FFF , 1467px 249px #FFF , 198px 2468px #FFF , 2209px 307px #FFF , 202px 285px #FFF , 339px 805px #FFF , 1344px 1742px #FFF , 2354px 2283px #FFF , 2153px 555px #FFF , 2425px 648px #FFF , 1964px 897px #FFF , 2029px 1946px #FFF , 800px 80px #FFF , 915px 1381px #FFF , 2474px 2247px #FFF , 1824px 35px #FFF , 1439px 1415px #FFF , 480px 1071px #FFF , 2490px 20px #FFF , 1231px 410px #FFF , 2352px 649px #FFF , 1475px 536px #FFF , 1037px 2046px #FFF , 816px 1165px #FFF , 2250px 1403px #FFF , 2259px 1960px #FFF , 406px 164px #FFF , 1797px 1198px #FFF , 1458px 673px #FFF , 1975px 1609px #FFF , 198px 2407px #FFF , 1824px 1643px #FFF , 750px 1370px #FFF , 2438px 2386px #FFF , 1350px 2180px #FFF , 229px 2329px #FFF , 2183px 252px #FFF , 2500px 327px #FFF , 823px 2106px #FFF , 2345px 1361px #FFF , 128px 608px #FFF , 1932px 1499px #FFF , 192px 975px #FFF , 2129px 264px #FFF , 661px 146px #FFF , 1670px 913px #FFF , 810px 571px #FFF , 77px 1746px #FFF , 1338px 177px #FFF , 600px 1857px #FFF , 1910px 2200px #FFF , 540px 869px #FFF , 1899px 327px #FFF , 501px 1604px #FFF , 2049px 2392px #FFF , 1284px 2347px #FFF;
          box-shadow: 2144px 361px #FFF , 2334px 1811px #FFF , 1155px 2183px #FFF , 60px 1256px #FFF , 2170px 256px #FFF , 1133px 368px #FFF , 475px 463px #FFF , 1654px 1107px #FFF , 1954px 2039px #FFF , 1679px 2201px #FFF , 2194px 6px #FFF , 1548px 471px #FFF , 134px 693px #FFF , 1014px 2310px #FFF , 2366px 1021px #FFF , 1463px 351px #FFF , 944px 212px #FFF , 1160px 1948px #FFF , 1207px 474px #FFF , 1290px 1331px #FFF , 2362px 342px #FFF , 1941px 983px #FFF , 599px 1965px #FFF , 2489px 278px #FFF , 430px 1401px #FFF , 2295px 2039px #FFF , 1717px 918px #FFF , 1481px 407px #FFF , 33px 2488px #FFF , 1138px 1462px #FFF , 2447px 1514px #FFF , 687px 56px #FFF , 87px 1587px #FFF , 478px 1188px #FFF , 1308px 1534px #FFF , 2111px 702px #FFF , 1551px 1798px #FFF , 1651px 2485px #FFF , 1093px 173px #FFF , 2235px 2031px #FFF , 60px 1506px #FFF , 1661px 1587px #FFF , 464px 799px #FFF , 1307px 632px #FFF , 1341px 1023px #FFF , 1540px 1045px #FFF , 1248px 2021px #FFF , 2137px 1203px #FFF , 99px 1914px #FFF , 85px 788px #FFF , 413px 655px #FFF , 524px 786px #FFF , 1316px 769px #FFF , 337px 122px #FFF , 1670px 1094px #FFF , 223px 176px #FFF , 842px 1013px #FFF , 550px 1674px #FFF , 1062px 2269px #FFF , 775px 996px #FFF , 766px 91px #FFF , 291px 631px #FFF , 987px 1556px #FFF , 280px 2342px #FFF , 328px 2427px #FFF , 813px 393px #FFF , 1860px 1220px #FFF , 2260px 468px #FFF , 2156px 1080px #FFF , 132px 1940px #FFF , 498px 2171px #FFF , 58px 1845px #FFF , 1385px 1398px #FFF , 905px 1312px #FFF , 1059px 1835px #FFF , 823px 1207px #FFF , 2049px 120px #FFF , 1060px 153px #FFF , 1883px 2465px #FFF , 2057px 741px #FFF , 227px 1396px #FFF , 1202px 2354px #FFF , 1205px 681px #FFF , 630px 1974px #FFF , 1772px 2438px #FFF , 1526px 280px #FFF , 2190px 2273px #FFF , 1976px 988px #FFF , 496px 591px #FFF , 1027px 1236px #FFF , 2227px 127px #FFF , 2085px 987px #FFF , 1956px 2007px #FFF , 1979px 625px #FFF , 609px 2220px #FFF , 2147px 611px #FFF , 153px 470px #FFF , 1348px 632px #FFF , 2185px 405px #FFF , 1573px 889px #FFF , 895px 2256px #FFF , 1945px 1680px #FFF , 1296px 946px #FFF , 263px 1613px #FFF , 221px 1456px #FFF , 407px 1329px #FFF , 1164px 1453px #FFF , 226px 781px #FFF , 733px 1678px #FFF , 1021px 1363px #FFF , 844px 450px #FFF , 332px 807px #FFF , 861px 1620px #FFF , 1283px 2166px #FFF , 2368px 2253px #FFF , 580px 1375px #FFF , 2421px 510px #FFF , 1609px 1983px #FFF , 1218px 1987px #FFF , 622px 206px #FFF , 765px 1741px #FFF , 1644px 1600px #FFF , 132px 1876px #FFF , 734px 677px #FFF , 1525px 108px #FFF , 2153px 1709px #FFF , 1921px 2168px #FFF , 518px 2399px #FFF , 1356px 2286px #FFF , 1237px 1800px #FFF , 998px 540px #FFF , 1259px 419px #FFF , 2326px 2445px #FFF , 508px 899px #FFF , 254px 439px #FFF , 651px 2458px #FFF , 2336px 529px #FFF , 1960px 1539px #FFF , 1784px 161px #FFF , 9px 2333px #FFF , 1450px 502px #FFF , 69px 2001px #FFF , 2391px 59px #FFF , 2232px 697px #FFF , 555px 1984px #FFF , 1467px 249px #FFF , 198px 2468px #FFF , 2209px 307px #FFF , 202px 285px #FFF , 339px 805px #FFF , 1344px 1742px #FFF , 2354px 2283px #FFF , 2153px 555px #FFF , 2425px 648px #FFF , 1964px 897px #FFF , 2029px 1946px #FFF , 800px 80px #FFF , 915px 1381px #FFF , 2474px 2247px #FFF , 1824px 35px #FFF , 1439px 1415px #FFF , 480px 1071px #FFF , 2490px 20px #FFF , 1231px 410px #FFF , 2352px 649px #FFF , 1475px 536px #FFF , 1037px 2046px #FFF , 816px 1165px #FFF , 2250px 1403px #FFF , 2259px 1960px #FFF , 406px 164px #FFF , 1797px 1198px #FFF , 1458px 673px #FFF , 1975px 1609px #FFF , 198px 2407px #FFF , 1824px 1643px #FFF , 750px 1370px #FFF , 2438px 2386px #FFF , 1350px 2180px #FFF , 229px 2329px #FFF , 2183px 252px #FFF , 2500px 327px #FFF , 823px 2106px #FFF , 2345px 1361px #FFF , 128px 608px #FFF , 1932px 1499px #FFF , 192px 975px #FFF , 2129px 264px #FFF , 661px 146px #FFF , 1670px 913px #FFF , 810px 571px #FFF , 77px 1746px #FFF , 1338px 177px #FFF , 600px 1857px #FFF , 1910px 2200px #FFF , 540px 869px #FFF , 1899px 327px #FFF , 501px 1604px #FFF , 2049px 2392px #FFF , 1284px 2347px #FFF;
  -webkit-animation: animStar 50s infinite linear;
          animation: animStar 50s infinite linear;
}

#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  -webkit-box-shadow: 2144px 361px #FFF , 2334px 1811px #FFF , 1155px 2183px #FFF , 60px 1256px #FFF , 2170px 256px #FFF , 1133px 368px #FFF , 475px 463px #FFF , 1654px 1107px #FFF , 1954px 2039px #FFF , 1679px 2201px #FFF , 2194px 6px #FFF , 1548px 471px #FFF , 134px 693px #FFF , 1014px 2310px #FFF , 2366px 1021px #FFF , 1463px 351px #FFF , 944px 212px #FFF , 1160px 1948px #FFF , 1207px 474px #FFF , 1290px 1331px #FFF , 2362px 342px #FFF , 1941px 983px #FFF , 599px 1965px #FFF , 2489px 278px #FFF , 430px 1401px #FFF , 2295px 2039px #FFF , 1717px 918px #FFF , 1481px 407px #FFF , 33px 2488px #FFF , 1138px 1462px #FFF , 2447px 1514px #FFF , 687px 56px #FFF , 87px 1587px #FFF , 478px 1188px #FFF , 1308px 1534px #FFF , 2111px 702px #FFF , 1551px 1798px #FFF , 1651px 2485px #FFF , 1093px 173px #FFF , 2235px 2031px #FFF , 60px 1506px #FFF , 1661px 1587px #FFF , 464px 799px #FFF , 1307px 632px #FFF , 1341px 1023px #FFF , 1540px 1045px #FFF , 1248px 2021px #FFF , 2137px 1203px #FFF , 99px 1914px #FFF , 85px 788px #FFF , 413px 655px #FFF , 524px 786px #FFF , 1316px 769px #FFF , 337px 122px #FFF , 1670px 1094px #FFF , 223px 176px #FFF , 842px 1013px #FFF , 550px 1674px #FFF , 1062px 2269px #FFF , 775px 996px #FFF , 766px 91px #FFF , 291px 631px #FFF , 987px 1556px #FFF , 280px 2342px #FFF , 328px 2427px #FFF , 813px 393px #FFF , 1860px 1220px #FFF , 2260px 468px #FFF , 2156px 1080px #FFF , 132px 1940px #FFF , 498px 2171px #FFF , 58px 1845px #FFF , 1385px 1398px #FFF , 905px 1312px #FFF , 1059px 1835px #FFF , 823px 1207px #FFF , 2049px 120px #FFF , 1060px 153px #FFF , 1883px 2465px #FFF , 2057px 741px #FFF , 227px 1396px #FFF , 1202px 2354px #FFF , 1205px 681px #FFF , 630px 1974px #FFF , 1772px 2438px #FFF , 1526px 280px #FFF , 2190px 2273px #FFF , 1976px 988px #FFF , 496px 591px #FFF , 1027px 1236px #FFF , 2227px 127px #FFF , 2085px 987px #FFF , 1956px 2007px #FFF , 1979px 625px #FFF , 609px 2220px #FFF , 2147px 611px #FFF , 153px 470px #FFF , 1348px 632px #FFF , 2185px 405px #FFF , 1573px 889px #FFF , 895px 2256px #FFF , 1945px 1680px #FFF , 1296px 946px #FFF , 263px 1613px #FFF , 221px 1456px #FFF , 407px 1329px #FFF , 1164px 1453px #FFF , 226px 781px #FFF , 733px 1678px #FFF , 1021px 1363px #FFF , 844px 450px #FFF , 332px 807px #FFF , 861px 1620px #FFF , 1283px 2166px #FFF , 2368px 2253px #FFF , 580px 1375px #FFF , 2421px 510px #FFF , 1609px 1983px #FFF , 1218px 1987px #FFF , 622px 206px #FFF , 765px 1741px #FFF , 1644px 1600px #FFF , 132px 1876px #FFF , 734px 677px #FFF , 1525px 108px #FFF , 2153px 1709px #FFF , 1921px 2168px #FFF , 518px 2399px #FFF , 1356px 2286px #FFF , 1237px 1800px #FFF , 998px 540px #FFF , 1259px 419px #FFF , 2326px 2445px #FFF , 508px 899px #FFF , 254px 439px #FFF , 651px 2458px #FFF , 2336px 529px #FFF , 1960px 1539px #FFF , 1784px 161px #FFF , 9px 2333px #FFF , 1450px 502px #FFF , 69px 2001px #FFF , 2391px 59px #FFF , 2232px 697px #FFF , 555px 1984px #FFF , 1467px 249px #FFF , 198px 2468px #FFF , 2209px 307px #FFF , 202px 285px #FFF , 339px 805px #FFF , 1344px 1742px #FFF , 2354px 2283px #FFF , 2153px 555px #FFF , 2425px 648px #FFF , 1964px 897px #FFF , 2029px 1946px #FFF , 800px 80px #FFF , 915px 1381px #FFF , 2474px 2247px #FFF , 1824px 35px #FFF , 1439px 1415px #FFF , 480px 1071px #FFF , 2490px 20px #FFF , 1231px 410px #FFF , 2352px 649px #FFF , 1475px 536px #FFF , 1037px 2046px #FFF , 816px 1165px #FFF , 2250px 1403px #FFF , 2259px 1960px #FFF , 406px 164px #FFF , 1797px 1198px #FFF , 1458px 673px #FFF , 1975px 1609px #FFF , 198px 2407px #FFF , 1824px 1643px #FFF , 750px 1370px #FFF , 2438px 2386px #FFF , 1350px 2180px #FFF , 229px 2329px #FFF , 2183px 252px #FFF , 2500px 327px #FFF , 823px 2106px #FFF , 2345px 1361px #FFF , 128px 608px #FFF , 1932px 1499px #FFF , 192px 975px #FFF , 2129px 264px #FFF , 661px 146px #FFF , 1670px 913px #FFF , 810px 571px #FFF , 77px 1746px #FFF , 1338px 177px #FFF , 600px 1857px #FFF , 1910px 2200px #FFF , 540px 869px #FFF , 1899px 327px #FFF , 501px 1604px #FFF , 2049px 2392px #FFF , 1284px 2347px #FFF;
          box-shadow: 2144px 361px #FFF , 2334px 1811px #FFF , 1155px 2183px #FFF , 60px 1256px #FFF , 2170px 256px #FFF , 1133px 368px #FFF , 475px 463px #FFF , 1654px 1107px #FFF , 1954px 2039px #FFF , 1679px 2201px #FFF , 2194px 6px #FFF , 1548px 471px #FFF , 134px 693px #FFF , 1014px 2310px #FFF , 2366px 1021px #FFF , 1463px 351px #FFF , 944px 212px #FFF , 1160px 1948px #FFF , 1207px 474px #FFF , 1290px 1331px #FFF , 2362px 342px #FFF , 1941px 983px #FFF , 599px 1965px #FFF , 2489px 278px #FFF , 430px 1401px #FFF , 2295px 2039px #FFF , 1717px 918px #FFF , 1481px 407px #FFF , 33px 2488px #FFF , 1138px 1462px #FFF , 2447px 1514px #FFF , 687px 56px #FFF , 87px 1587px #FFF , 478px 1188px #FFF , 1308px 1534px #FFF , 2111px 702px #FFF , 1551px 1798px #FFF , 1651px 2485px #FFF , 1093px 173px #FFF , 2235px 2031px #FFF , 60px 1506px #FFF , 1661px 1587px #FFF , 464px 799px #FFF , 1307px 632px #FFF , 1341px 1023px #FFF , 1540px 1045px #FFF , 1248px 2021px #FFF , 2137px 1203px #FFF , 99px 1914px #FFF , 85px 788px #FFF , 413px 655px #FFF , 524px 786px #FFF , 1316px 769px #FFF , 337px 122px #FFF , 1670px 1094px #FFF , 223px 176px #FFF , 842px 1013px #FFF , 550px 1674px #FFF , 1062px 2269px #FFF , 775px 996px #FFF , 766px 91px #FFF , 291px 631px #FFF , 987px 1556px #FFF , 280px 2342px #FFF , 328px 2427px #FFF , 813px 393px #FFF , 1860px 1220px #FFF , 2260px 468px #FFF , 2156px 1080px #FFF , 132px 1940px #FFF , 498px 2171px #FFF , 58px 1845px #FFF , 1385px 1398px #FFF , 905px 1312px #FFF , 1059px 1835px #FFF , 823px 1207px #FFF , 2049px 120px #FFF , 1060px 153px #FFF , 1883px 2465px #FFF , 2057px 741px #FFF , 227px 1396px #FFF , 1202px 2354px #FFF , 1205px 681px #FFF , 630px 1974px #FFF , 1772px 2438px #FFF , 1526px 280px #FFF , 2190px 2273px #FFF , 1976px 988px #FFF , 496px 591px #FFF , 1027px 1236px #FFF , 2227px 127px #FFF , 2085px 987px #FFF , 1956px 2007px #FFF , 1979px 625px #FFF , 609px 2220px #FFF , 2147px 611px #FFF , 153px 470px #FFF , 1348px 632px #FFF , 2185px 405px #FFF , 1573px 889px #FFF , 895px 2256px #FFF , 1945px 1680px #FFF , 1296px 946px #FFF , 263px 1613px #FFF , 221px 1456px #FFF , 407px 1329px #FFF , 1164px 1453px #FFF , 226px 781px #FFF , 733px 1678px #FFF , 1021px 1363px #FFF , 844px 450px #FFF , 332px 807px #FFF , 861px 1620px #FFF , 1283px 2166px #FFF , 2368px 2253px #FFF , 580px 1375px #FFF , 2421px 510px #FFF , 1609px 1983px #FFF , 1218px 1987px #FFF , 622px 206px #FFF , 765px 1741px #FFF , 1644px 1600px #FFF , 132px 1876px #FFF , 734px 677px #FFF , 1525px 108px #FFF , 2153px 1709px #FFF , 1921px 2168px #FFF , 518px 2399px #FFF , 1356px 2286px #FFF , 1237px 1800px #FFF , 998px 540px #FFF , 1259px 419px #FFF , 2326px 2445px #FFF , 508px 899px #FFF , 254px 439px #FFF , 651px 2458px #FFF , 2336px 529px #FFF , 1960px 1539px #FFF , 1784px 161px #FFF , 9px 2333px #FFF , 1450px 502px #FFF , 69px 2001px #FFF , 2391px 59px #FFF , 2232px 697px #FFF , 555px 1984px #FFF , 1467px 249px #FFF , 198px 2468px #FFF , 2209px 307px #FFF , 202px 285px #FFF , 339px 805px #FFF , 1344px 1742px #FFF , 2354px 2283px #FFF , 2153px 555px #FFF , 2425px 648px #FFF , 1964px 897px #FFF , 2029px 1946px #FFF , 800px 80px #FFF , 915px 1381px #FFF , 2474px 2247px #FFF , 1824px 35px #FFF , 1439px 1415px #FFF , 480px 1071px #FFF , 2490px 20px #FFF , 1231px 410px #FFF , 2352px 649px #FFF , 1475px 536px #FFF , 1037px 2046px #FFF , 816px 1165px #FFF , 2250px 1403px #FFF , 2259px 1960px #FFF , 406px 164px #FFF , 1797px 1198px #FFF , 1458px 673px #FFF , 1975px 1609px #FFF , 198px 2407px #FFF , 1824px 1643px #FFF , 750px 1370px #FFF , 2438px 2386px #FFF , 1350px 2180px #FFF , 229px 2329px #FFF , 2183px 252px #FFF , 2500px 327px #FFF , 823px 2106px #FFF , 2345px 1361px #FFF , 128px 608px #FFF , 1932px 1499px #FFF , 192px 975px #FFF , 2129px 264px #FFF , 661px 146px #FFF , 1670px 913px #FFF , 810px 571px #FFF , 77px 1746px #FFF , 1338px 177px #FFF , 600px 1857px #FFF , 1910px 2200px #FFF , 540px 869px #FFF , 1899px 327px #FFF , 501px 1604px #FFF , 2049px 2392px #FFF , 1284px 2347px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  margin-left: 0;
  background: transparent;
  -webkit-box-shadow: 1397px 2349px #FFF , 2374px 2326px #FFF , 184px 1479px #FFF , 2424px 1761px #FFF , 409px 1808px #FFF , 2063px 1062px #FFF , 2071px 656px #FFF , 1827px 315px #FFF , 1388px 1967px #FFF , 2341px 848px #FFF , 1602px 1909px #FFF , 2367px 975px #FFF , 1127px 2026px #FFF , 1103px 1055px #FFF , 663px 747px #FFF , 2170px 564px #FFF , 178px 2292px #FFF , 1752px 98px #FFF , 2204px 1225px #FFF , 2006px 2115px #FFF , 2039px 894px #FFF , 526px 1090px #FFF , 1947px 874px #FFF , 1249px 213px #FFF , 1246px 1157px #FFF , 256px 2094px #FFF , 259px 1574px #FFF , 2075px 1105px #FFF , 2084px 1786px #FFF , 2035px 2395px #FFF , 2487px 1441px #FFF , 1204px 774px #FFF , 1961px 1067px #FFF , 1125px 99px #FFF , 1914px 585px #FFF , 598px 1314px #FFF , 161px 2493px #FFF , 1972px 1222px #FFF , 1457px 175px #FFF , 328px 502px #FFF , 890px 965px #FFF , 513px 2313px #FFF , 1572px 1821px #FFF , 1362px 733px #FFF , 276px 2497px #FFF , 1017px 367px #FFF , 1848px 2329px #FFF , 510px 1496px #FFF , 1519px 775px #FFF , 2186px 1542px #FFF , 662px 321px #FFF , 244px 1716px #FFF , 737px 1288px #FFF , 1535px 1916px #FFF , 2317px 1750px #FFF , 766px 695px #FFF , 614px 1522px #FFF , 2276px 551px #FFF , 929px 936px #FFF , 1460px 52px #FFF , 840px 2151px #FFF , 1828px 79px #FFF , 2326px 431px #FFF , 2202px 1901px #FFF , 982px 1463px #FFF , 1210px 990px #FFF , 183px 635px #FFF , 2339px 996px #FFF , 2032px 1514px #FFF , 2085px 716px #FFF , 138px 1072px #FFF , 86px 630px #FFF , 1049px 158px #FFF , 721px 2337px #FFF , 919px 1400px #FFF , 2425px 2031px #FFF , 946px 428px #FFF , 213px 2134px #FFF , 2175px 845px #FFF , 289px 2396px #FFF , 1306px 323px #FFF , 1553px 1988px #FFF , 152px 1304px #FFF , 2123px 882px #FFF , 2414px 56px #FFF , 1478px 1967px #FFF , 1207px 450px #FFF , 552px 1271px #FFF , 1589px 957px #FFF , 1060px 1816px #FFF , 820px 355px #FFF , 1173px 1929px #FFF , 2382px 28px #FFF , 1880px 1916px #FFF , 615px 1360px #FFF , 1771px 2385px #FFF , 1101px 2173px #FFF , 1954px 530px #FFF , 1081px 1765px #FFF , 1532px 96px #FFF;
          box-shadow: 1397px 2349px #FFF , 2374px 2326px #FFF , 184px 1479px #FFF , 2424px 1761px #FFF , 409px 1808px #FFF , 2063px 1062px #FFF , 2071px 656px #FFF , 1827px 315px #FFF , 1388px 1967px #FFF , 2341px 848px #FFF , 1602px 1909px #FFF , 2367px 975px #FFF , 1127px 2026px #FFF , 1103px 1055px #FFF , 663px 747px #FFF , 2170px 564px #FFF , 178px 2292px #FFF , 1752px 98px #FFF , 2204px 1225px #FFF , 2006px 2115px #FFF , 2039px 894px #FFF , 526px 1090px #FFF , 1947px 874px #FFF , 1249px 213px #FFF , 1246px 1157px #FFF , 256px 2094px #FFF , 259px 1574px #FFF , 2075px 1105px #FFF , 2084px 1786px #FFF , 2035px 2395px #FFF , 2487px 1441px #FFF , 1204px 774px #FFF , 1961px 1067px #FFF , 1125px 99px #FFF , 1914px 585px #FFF , 598px 1314px #FFF , 161px 2493px #FFF , 1972px 1222px #FFF , 1457px 175px #FFF , 328px 502px #FFF , 890px 965px #FFF , 513px 2313px #FFF , 1572px 1821px #FFF , 1362px 733px #FFF , 276px 2497px #FFF , 1017px 367px #FFF , 1848px 2329px #FFF , 510px 1496px #FFF , 1519px 775px #FFF , 2186px 1542px #FFF , 662px 321px #FFF , 244px 1716px #FFF , 737px 1288px #FFF , 1535px 1916px #FFF , 2317px 1750px #FFF , 766px 695px #FFF , 614px 1522px #FFF , 2276px 551px #FFF , 929px 936px #FFF , 1460px 52px #FFF , 840px 2151px #FFF , 1828px 79px #FFF , 2326px 431px #FFF , 2202px 1901px #FFF , 982px 1463px #FFF , 1210px 990px #FFF , 183px 635px #FFF , 2339px 996px #FFF , 2032px 1514px #FFF , 2085px 716px #FFF , 138px 1072px #FFF , 86px 630px #FFF , 1049px 158px #FFF , 721px 2337px #FFF , 919px 1400px #FFF , 2425px 2031px #FFF , 946px 428px #FFF , 213px 2134px #FFF , 2175px 845px #FFF , 289px 2396px #FFF , 1306px 323px #FFF , 1553px 1988px #FFF , 152px 1304px #FFF , 2123px 882px #FFF , 2414px 56px #FFF , 1478px 1967px #FFF , 1207px 450px #FFF , 552px 1271px #FFF , 1589px 957px #FFF , 1060px 1816px #FFF , 820px 355px #FFF , 1173px 1929px #FFF , 2382px 28px #FFF , 1880px 1916px #FFF , 615px 1360px #FFF , 1771px 2385px #FFF , 1101px 2173px #FFF , 1954px 530px #FFF , 1081px 1765px #FFF , 1532px 96px #FFF;
  -webkit-animation: animStar 100s infinite linear;
          animation: animStar 100s infinite linear;
}

#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  -webkit-box-shadow: 1397px 2349px #FFF , 2374px 2326px #FFF , 184px 1479px #FFF , 2424px 1761px #FFF , 409px 1808px #FFF , 2063px 1062px #FFF , 2071px 656px #FFF , 1827px 315px #FFF , 1388px 1967px #FFF , 2341px 848px #FFF , 1602px 1909px #FFF , 2367px 975px #FFF , 1127px 2026px #FFF , 1103px 1055px #FFF , 663px 747px #FFF , 2170px 564px #FFF , 178px 2292px #FFF , 1752px 98px #FFF , 2204px 1225px #FFF , 2006px 2115px #FFF , 2039px 894px #FFF , 526px 1090px #FFF , 1947px 874px #FFF , 1249px 213px #FFF , 1246px 1157px #FFF , 256px 2094px #FFF , 259px 1574px #FFF , 2075px 1105px #FFF , 2084px 1786px #FFF , 2035px 2395px #FFF , 2487px 1441px #FFF , 1204px 774px #FFF , 1961px 1067px #FFF , 1125px 99px #FFF , 1914px 585px #FFF , 598px 1314px #FFF , 161px 2493px #FFF , 1972px 1222px #FFF , 1457px 175px #FFF , 328px 502px #FFF , 890px 965px #FFF , 513px 2313px #FFF , 1572px 1821px #FFF , 1362px 733px #FFF , 276px 2497px #FFF , 1017px 367px #FFF , 1848px 2329px #FFF , 510px 1496px #FFF , 1519px 775px #FFF , 2186px 1542px #FFF , 662px 321px #FFF , 244px 1716px #FFF , 737px 1288px #FFF , 1535px 1916px #FFF , 2317px 1750px #FFF , 766px 695px #FFF , 614px 1522px #FFF , 2276px 551px #FFF , 929px 936px #FFF , 1460px 52px #FFF , 840px 2151px #FFF , 1828px 79px #FFF , 2326px 431px #FFF , 2202px 1901px #FFF , 982px 1463px #FFF , 1210px 990px #FFF , 183px 635px #FFF , 2339px 996px #FFF , 2032px 1514px #FFF , 2085px 716px #FFF , 138px 1072px #FFF , 86px 630px #FFF , 1049px 158px #FFF , 721px 2337px #FFF , 919px 1400px #FFF , 2425px 2031px #FFF , 946px 428px #FFF , 213px 2134px #FFF , 2175px 845px #FFF , 289px 2396px #FFF , 1306px 323px #FFF , 1553px 1988px #FFF , 152px 1304px #FFF , 2123px 882px #FFF , 2414px 56px #FFF , 1478px 1967px #FFF , 1207px 450px #FFF , 552px 1271px #FFF , 1589px 957px #FFF , 1060px 1816px #FFF , 820px 355px #FFF , 1173px 1929px #FFF , 2382px 28px #FFF , 1880px 1916px #FFF , 615px 1360px #FFF , 1771px 2385px #FFF , 1101px 2173px #FFF , 1954px 530px #FFF , 1081px 1765px #FFF , 1532px 96px #FFF;
          box-shadow: 1397px 2349px #FFF , 2374px 2326px #FFF , 184px 1479px #FFF , 2424px 1761px #FFF , 409px 1808px #FFF , 2063px 1062px #FFF , 2071px 656px #FFF , 1827px 315px #FFF , 1388px 1967px #FFF , 2341px 848px #FFF , 1602px 1909px #FFF , 2367px 975px #FFF , 1127px 2026px #FFF , 1103px 1055px #FFF , 663px 747px #FFF , 2170px 564px #FFF , 178px 2292px #FFF , 1752px 98px #FFF , 2204px 1225px #FFF , 2006px 2115px #FFF , 2039px 894px #FFF , 526px 1090px #FFF , 1947px 874px #FFF , 1249px 213px #FFF , 1246px 1157px #FFF , 256px 2094px #FFF , 259px 1574px #FFF , 2075px 1105px #FFF , 2084px 1786px #FFF , 2035px 2395px #FFF , 2487px 1441px #FFF , 1204px 774px #FFF , 1961px 1067px #FFF , 1125px 99px #FFF , 1914px 585px #FFF , 598px 1314px #FFF , 161px 2493px #FFF , 1972px 1222px #FFF , 1457px 175px #FFF , 328px 502px #FFF , 890px 965px #FFF , 513px 2313px #FFF , 1572px 1821px #FFF , 1362px 733px #FFF , 276px 2497px #FFF , 1017px 367px #FFF , 1848px 2329px #FFF , 510px 1496px #FFF , 1519px 775px #FFF , 2186px 1542px #FFF , 662px 321px #FFF , 244px 1716px #FFF , 737px 1288px #FFF , 1535px 1916px #FFF , 2317px 1750px #FFF , 766px 695px #FFF , 614px 1522px #FFF , 2276px 551px #FFF , 929px 936px #FFF , 1460px 52px #FFF , 840px 2151px #FFF , 1828px 79px #FFF , 2326px 431px #FFF , 2202px 1901px #FFF , 982px 1463px #FFF , 1210px 990px #FFF , 183px 635px #FFF , 2339px 996px #FFF , 2032px 1514px #FFF , 2085px 716px #FFF , 138px 1072px #FFF , 86px 630px #FFF , 1049px 158px #FFF , 721px 2337px #FFF , 919px 1400px #FFF , 2425px 2031px #FFF , 946px 428px #FFF , 213px 2134px #FFF , 2175px 845px #FFF , 289px 2396px #FFF , 1306px 323px #FFF , 1553px 1988px #FFF , 152px 1304px #FFF , 2123px 882px #FFF , 2414px 56px #FFF , 1478px 1967px #FFF , 1207px 450px #FFF , 552px 1271px #FFF , 1589px 957px #FFF , 1060px 1816px #FFF , 820px 355px #FFF , 1173px 1929px #FFF , 2382px 28px #FFF , 1880px 1916px #FFF , 615px 1360px #FFF , 1771px 2385px #FFF , 1101px 2173px #FFF , 1954px 530px #FFF , 1081px 1765px #FFF , 1532px 96px #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  margin-left: 0;
  background: transparent;
  -webkit-box-shadow: 2153px 730px #FFF , 2100px 1239px #FFF , 2460px 896px #FFF , 26px 1176px #FFF , 1932px 1033px #FFF , 1159px 1564px #FFF , 441px 561px #FFF , 1491px 1032px #FFF , 2424px 118px #FFF , 978px 1351px #FFF , 2132px 1943px #FFF , 1205px 754px #FFF , 427px 2173px #FFF , 567px 35px #FFF , 1145px 876px #FFF , 1731px 1740px #FFF , 1655px 51px #FFF , 705px 1481px #FFF , 1220px 1806px #FFF , 1727px 2250px #FFF , 1421px 2214px #FFF , 1826px 960px #FFF , 2471px 2297px #FFF , 1469px 1202px #FFF , 1255px 1440px #FFF , 1846px 512px #FFF , 892px 64px #FFF , 1576px 1116px #FFF , 2262px 2103px #FFF , 47px 1925px #FFF , 793px 1706px #FFF , 249px 898px #FFF , 1676px 1426px #FFF , 2431px 2306px #FFF , 1200px 377px #FFF , 1800px 233px #FFF , 28px 541px #FFF , 2194px 1031px #FFF , 872px 1525px #FFF , 186px 1907px #FFF , 339px 2395px #FFF , 435px 717px #FFF , 777px 21px #FFF , 1719px 2383px #FFF , 441px 740px #FFF , 2193px 1921px #FFF , 2279px 1559px #FFF , 1674px 825px #FFF , 504px 1019px #FFF , 433px 1316px #FFF;
          box-shadow: 2153px 730px #FFF , 2100px 1239px #FFF , 2460px 896px #FFF , 26px 1176px #FFF , 1932px 1033px #FFF , 1159px 1564px #FFF , 441px 561px #FFF , 1491px 1032px #FFF , 2424px 118px #FFF , 978px 1351px #FFF , 2132px 1943px #FFF , 1205px 754px #FFF , 427px 2173px #FFF , 567px 35px #FFF , 1145px 876px #FFF , 1731px 1740px #FFF , 1655px 51px #FFF , 705px 1481px #FFF , 1220px 1806px #FFF , 1727px 2250px #FFF , 1421px 2214px #FFF , 1826px 960px #FFF , 2471px 2297px #FFF , 1469px 1202px #FFF , 1255px 1440px #FFF , 1846px 512px #FFF , 892px 64px #FFF , 1576px 1116px #FFF , 2262px 2103px #FFF , 47px 1925px #FFF , 793px 1706px #FFF , 249px 898px #FFF , 1676px 1426px #FFF , 2431px 2306px #FFF , 1200px 377px #FFF , 1800px 233px #FFF , 28px 541px #FFF , 2194px 1031px #FFF , 872px 1525px #FFF , 186px 1907px #FFF , 339px 2395px #FFF , 435px 717px #FFF , 777px 21px #FFF , 1719px 2383px #FFF , 441px 740px #FFF , 2193px 1921px #FFF , 2279px 1559px #FFF , 1674px 825px #FFF , 504px 1019px #FFF , 433px 1316px #FFF;
  -webkit-animation: animStar 150s infinite linear;
          animation: animStar 150s infinite linear;
}

#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  -webkit-box-shadow: 2153px 730px #FFF , 2100px 1239px #FFF , 2460px 896px #FFF , 26px 1176px #FFF , 1932px 1033px #FFF , 1159px 1564px #FFF , 441px 561px #FFF , 1491px 1032px #FFF , 2424px 118px #FFF , 978px 1351px #FFF , 2132px 1943px #FFF , 1205px 754px #FFF , 427px 2173px #FFF , 567px 35px #FFF , 1145px 876px #FFF , 1731px 1740px #FFF , 1655px 51px #FFF , 705px 1481px #FFF , 1220px 1806px #FFF , 1727px 2250px #FFF , 1421px 2214px #FFF , 1826px 960px #FFF , 2471px 2297px #FFF , 1469px 1202px #FFF , 1255px 1440px #FFF , 1846px 512px #FFF , 892px 64px #FFF , 1576px 1116px #FFF , 2262px 2103px #FFF , 47px 1925px #FFF , 793px 1706px #FFF , 249px 898px #FFF , 1676px 1426px #FFF , 2431px 2306px #FFF , 1200px 377px #FFF , 1800px 233px #FFF , 28px 541px #FFF , 2194px 1031px #FFF , 872px 1525px #FFF , 186px 1907px #FFF , 339px 2395px #FFF , 435px 717px #FFF , 777px 21px #FFF , 1719px 2383px #FFF , 441px 740px #FFF , 2193px 1921px #FFF , 2279px 1559px #FFF , 1674px 825px #FFF , 504px 1019px #FFF , 433px 1316px #FFF;
          box-shadow: 2153px 730px #FFF , 2100px 1239px #FFF , 2460px 896px #FFF , 26px 1176px #FFF , 1932px 1033px #FFF , 1159px 1564px #FFF , 441px 561px #FFF , 1491px 1032px #FFF , 2424px 118px #FFF , 978px 1351px #FFF , 2132px 1943px #FFF , 1205px 754px #FFF , 427px 2173px #FFF , 567px 35px #FFF , 1145px 876px #FFF , 1731px 1740px #FFF , 1655px 51px #FFF , 705px 1481px #FFF , 1220px 1806px #FFF , 1727px 2250px #FFF , 1421px 2214px #FFF , 1826px 960px #FFF , 2471px 2297px #FFF , 1469px 1202px #FFF , 1255px 1440px #FFF , 1846px 512px #FFF , 892px 64px #FFF , 1576px 1116px #FFF , 2262px 2103px #FFF , 47px 1925px #FFF , 793px 1706px #FFF , 249px 898px #FFF , 1676px 1426px #FFF , 2431px 2306px #FFF , 1200px 377px #FFF , 1800px 233px #FFF , 28px 541px #FFF , 2194px 1031px #FFF , 872px 1525px #FFF , 186px 1907px #FFF , 339px 2395px #FFF , 435px 717px #FFF , 777px 21px #FFF , 1719px 2383px #FFF , 441px 740px #FFF , 2193px 1921px #FFF , 2279px 1559px #FFF , 1674px 825px #FFF , 504px 1019px #FFF , 433px 1316px #FFF;
}

@-webkit-keyframes animStar {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
}

@keyframes animStar {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
}

/* ------------------------------------- */
/* VARIANT CLOUD ....................... */
/* ------------------------------------- */
#cloud-animation {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  position: fixed;
}

#cloud-animation img {
  width: 100%;
  left: 0;
  top: 10%;
  position: absolute;
}

@-webkit-keyframes animCloud {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes animCloud {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

#cloud1 {
  -webkit-animation: animCloud 25s infinite linear;
          animation: animCloud 25s infinite linear;
}

#cloud2 {
  -webkit-animation: animCloud 35s infinite linear;
          animation: animCloud 35s infinite linear;
}

#cloud3 {
  -webkit-animation: animCloud 45s infinite linear;
          animation: animCloud 45s infinite linear;
}

#cloud4 {
  -webkit-animation: animCloud 55s infinite linear;
          animation: animCloud 55s infinite linear;
}

/* ------------------------------------- */
/* VARIANT YOUTUBE ..................... */
/* ------------------------------------- */
.mbYTP_wrapper {
  width: 100vw !important;
  z-index: 0 !important;
  min-width: 0 !important;
  left: 0 !important;
}

.ytb-overlay {
  background: rgba(32, 35, 45, 0.6);
}

.light-overlay {
  background: rgba(32, 35, 45, 0.5) !important;
}

#player-nav {
  position: fixed;
  right: 30px;
  bottom: 30px;
  text-align: center;
  z-index: 1;
}

#player-nav li {
  display: inline-block;
  background: rgba(15, 224, 186, 0.4);
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 0;
  -webkit-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
}

#player-nav li:hover {
  background: rgba(15, 224, 186, 0.8);
}

#player-nav li:hover a {
  color: #FFFFFF;
}

#player-nav li a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.5);
}

/* ------------------------------------- */
/* VARIANT GRADIENT .................... */
/* ------------------------------------- */
.no-background {
  background: none !important;
}

#gradient {
  width: 100%;
  height: 100%;
  opacity: 0.8;
  padding: 0px;
  margin: 0px;
}

/* ------------------------------------- */
/* VARIANT FLAT SURFACE SHADER ......... */
/* ------------------------------------- */
#fss-part {
  background: transparent !important;
}

#container {
  height: 100%;
  position: absolute;
  width: 100%;
  left: 0;
}

.fss-wrap:before {
  background: rgba(32, 35, 45, 0.5) !important;
}

.back-fss {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* ------------------------------------- */
/* VARIANT RAIN ........................ */
/* ------------------------------------- */
#rainy {
  height: 100%;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

#home-wrap:before {
  background: rgba(32, 35, 45, 0.5) !important;
}

/* ------------------------------------- */
/* VARIANT SQUARE ...................... */
/* ------------------------------------- */
#square-canvas {
  display: block;
  position: fixed;
  top: -100px;
}

/* ------------------------------------- */
/* VARIANT STAR WARS ................... */
/* ------------------------------------- */
#starfield {
  position: fixed !important;
}

/* ------------------------------------- */
/* GALLERY PHOTOS ...................... */
/* ------------------------------------- */
.pswp__bg {
  background: #20232D;
}

.pswp__caption h4 {
  margin-bottom: 10px !important;
}

/* ------------------------------------- */
/* 8. Media Queries .................... */
/* ------------------------------------- */
/* Large Devices, Wide Screens */
/* Notebook devices */
/* Medium Devices, Desktops */
@media only screen and (max-width: 1024px) {
  .global-overlay.hide-overlay {
    opacity: 1 !important;
  }
  .global-overlay .overlay {
    left: 0;
    width: 100%;
    height: 100%;
  }
  .global-overlay .overlay.skew-part {
    -webkit-transform: skew(0deg, 0deg);
            transform: skew(0deg, 0deg);
  }
  #stars, #stars2, #stars3 {
    margin-left: 0 !important;
  }
  .command-info-wrap {
    display: none !important;
  }
  #home-wrap {
    position: relative;
    width: 100%;
    height: auto;
    padding: 100px 0 150px;
  }
  #home-wrap.hide-left {
    width: 100% !important;
  }
  #home-wrap .content {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: auto;
    text-align: center;
  }
  .social-icons {
    left: 0;
    bottom: 0;
    margin-left: 0;
    margin-bottom: 0;
  }
  #info-wrap {
    position: relative;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    top: 0;
    width: 100%;
    opacity: 1;
    left: 0;
  }
  #info-wrap.show-info {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .mCSB_scrollTools {
    display: none;
  }
  .mCSB_scrollTools-left {
    right: 0 !important;
  }
  .vegas-slide, .vegas-timer {
    width: 100vw;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .light-btn {
    max-width: 70%;
    min-width: 60%;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .action-btn {
    max-width: 70%;
    min-width: 60%;
  }
  .center-text h3 {
    font-size: 40px !important;
  }
  .photo-line figure {
    padding: 0;
    width: 100% !important;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  }
  .info-contact .item-map:first-child {
    padding-left: 0;
  }
  .info-contact .item-map:last-child {
    padding-right: 0;
  }
  .dialog__content {
    width: 80%;
    max-width: 80%;
    min-width: 75%;
  }
  .dialog .dialog-inner {
    padding: 40px 20px 90px;
    overflow: hidden;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  #home-wrap {
    padding: 50px 0 100px;
  }
  #home-wrap .content {
    padding: 0 3%;
  }
  #home-wrap .content p {
    font-size: 16px;
  }
  #home-wrap.minimal-phone {
    height: 100vh;
  }
  #contact-form {
    margin-top: 50px;
  }
  h1.text-intro {
    font-size: 30px;
  }
  h2.text-intro {
    font-size: 18px;
  }
  .center-text h3 {
    font-size: 30px !important;
  }
  .text-countdown #getting-started .second-timer {
    min-width: 55px;
  }
  .light-btn {
    max-width: 80%;
    min-width: 70%;
  }
  .action-btn {
    max-width: 80%;
    min-width: 70%;
  }
  .dialog__content {
    width: 95%;
    max-width: 95%;
    min-width: 75%;
  }
  .dialog .close-newsletter {
    top: 2px;
    right: 5px;
  }
  .dialog .dialog-inner {
    padding: 40px 20px 50px;
  }
  .dialog .dialog-inner h4 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  #subscribe .block-message {
    padding: 5px 2px;
  }
  #subscribe p.notify-valid {
    font-size: 12px;
  }
}

/* Only for tablet in landscape mode */
/* Only for phone in landscape mode */
@media screen and (max-device-width: 667px) and (orientation: landscape) {
  #home-wrap {
    padding: 50px 0 100px;
  }
  h1.text-intro {
    font-size: 30px;
  }
  h2.text-intro {
    font-size: 18px;
  }
  #contact-form {
    margin-top: 30px;
  }
  .dialog__content {
    width: 100%;
    max-width: 100%;
    min-width: 75%;
  }
  .dialog .close-newsletter {
    top: 2px;
    right: 5px;
  }
  .dialog .dialog-inner {
    padding: 40px 20px 50px;
  }
  .dialog .dialog-inner h4 {
    font-size: 25px;
    margin-bottom: 5px;
  }
  #subscribe #notifyMe {
    margin-top: 10px;
  }
  #subscribe #notifyMe .form-group .form-control {
    width: 70%;
    margin: 0;
    float: left;
  }
  #subscribe #notifyMe .form-group button.submit {
    width: 30%;
    margin: 0;
    float: left;
  }
  #subscribe .block-message {
    padding: 5px 2px;
  }
  #subscribe p.notify-valid {
    font-size: 12px;
  }
}
